.card {
  /* background: var(--white-color); */
  /* border-radius: 8px; */
  padding: 8px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--db-background);
}

.row1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  .left {
    display: flex;
  }
  .right {
    .firstLine {
      font-size: 10px;
      display: flex;
      align-items: center;
      gap: 3px;
      span {
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }
    .secondLine {
      display: flex;
      justify-content: end;
      gap: 5px;
      button {
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: 8px;
        color: #4f5660;
        border: none;
        padding: 5px;
        font-size: 11px;
      }
    }
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 16px;
  background-color: var(var(--_10a37f-background));
}

.texts {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 14px;
  color: var(--black);
  display: flex;
  align-items: center;
  gap: 5px;
}

.subtitles {
  display: flex;
  font-size: 12px;
  color: var(--_67-color);
  margin-top: 4px;
}

.subtitles span:first-child {
  flex: 1;
}

.rightSubtitle {
  margin-left: auto;
}

.description {
  color: var(--_67-color);
  font-size: 0.9rem;
  /* margin: 12px 0;
  margin-bottom: 24px; */
}

.row2 {
  position: relative;
  display: flex;
  justify-content: space-between;

  margin-top: auto;
  .left {
    display: flex;
    align-items: center;
    gap: 5px;
    span {
      font-size: 12px;
    }
  }
}

.textContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  .colorGrey {
    color: #9f9595;
  }
}

.inputInButton {
  border: none;
  background-color: var(--db-background);
  width: 65px;
}
.inputInButton::placeholder {
  font-size: 11px;
}

.documentCardContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.documentCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .buttonsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .documentCardImage {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .imageDefault {
      height: 100%;
      width: 100%;
      background-color: #ececec;
    }
  }
}

.titleDocumentCard {
  margin: 0;
  color: var(--dark);
}

.categoryConceptContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  p {
    color: #666666;
    margin: 0;
  }

  span {
    color: #c2c2c2;
  }
}

.priceDocumentCard {
  background-color: #ececf1;
  padding: 8px;
  border-radius: 8px;
  font-weight: 400;
}

.appsCard {
  width: 100%;
  border: 1px solid var(--ed-background);
  border-radius: 12px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;


  .appsCardContent{
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    >div{
      display: flex;
      flex-direction: column;
      /* gap: 5px; */
      justify-content: space-between;
      p{
        margin: 0;
      }
    }

    .appsInfo{
      >p{
        color: #101828;
      }
      span{
        color: #6A7282;
      }
    }

  }

  .appsCardImage {
    height: 80px;
    width: 80px;
    border-radius: 8px;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .imageDefault {
      height: 100%;
      width: 100%;
      background-color: #ececec;
    }
  }

  .appTryApp{
    >span{
      background-color: #E4E4E4;
      padding: 6px;
      border-radius: 8px;
      color: #4A5565;
      text-align: center;
    }

    .appTryAppContainer{
      display: flex;
      align-items: center;
      gap: 10px;
      .tryApp{
        color: #10A37F;
        font-weight: 600;
      }
      .priceApp{
        color: #000000;
        font-weight: 600;
      }
    }
  }
}
