.tier{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--border-color);
    b{

    }
    span{

    }
}

.exp{
    .type{
        svg{
            min-width: 16px;
            min-height: 16px;
            width: 16px;
            height: 16px;
        }

    }
    .bar{
        >div{
            background: var(--color);
        }
    }
}