.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: transparent !important;
    padding: 0px !important;
}

.messageExitAgent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background: var(--f5-background);
    border-radius: 10px;

    .buttons {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding-left: 10px;

        button {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            padding: 6px 10px;
            border-radius: 10px;
            background: var(--white-color);
            border: 1px solid var(--_00000033-background);
            outline: none;
            cursor: pointer;

            &:first-child {
                background: var(--_073f31-color);
            }

            &:nth-child(2) {
                color: var(--white-color);
                background: var(--ed-background);
            }

            svg {
                width: 14px;
                height: 14px;
            }

        }
    }
}

.messageExitAgentAlert {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    padding: 10px;
    background: var(--_073f31-color);
    border-radius: 10px;

    svg {
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
    }

    p {
        font-size: 14px;
        line-height: 22px;
        color: var(--_10a37f-background);
    }
}