.messageHelper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.messageHelperTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
        font-size: 16px;
        font-weight: 400;
        margin: 0px;
    }
}

.messageHelperItems {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .messageHelperItem {
        display: flex;
        padding: 10px;
        background: var(--white-color);
        border-radius: 10px;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        border: 1px solid var(--F5F5F538-background);
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background: var(--F5F5F538-background);
        }

        svg {
            width: 20px;
            height: 20px;
        }

        span {
            font-size: 14px;
            font-weight: 400;
        }
    }
}