.overlay {
  z-index: 999;
  position: absolute;
}

.bg { 
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.newContactContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: var(--white-color);
  z-index: 9999;
}
.popupNewContaier{
  display: flex;
  width: 100%;
  .leftSide{
    height: 100%;
    width: 100%;
    max-width: 250px;
    min-width: 240px;
    
    @media (width<=768px) {
      max-width: 80%;
      display:none;
    }
  }
  @media (width<=768px) {
    flex-direction: column;
    align-items: center;
  }
}
.container {
  padding: 20px;
  min-height: 100vh;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 0 10px 10px 0;
  .searchInput {
    padding: 10px 10px 10px 35px;
    border: 1px solid var(--db-background);
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    width: 250px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    &::placeholder {
      color: var(--aaa-color);
    }
  }
}





.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 40px;
  background-color: var(--_122521-background);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  img {
    width: 15px;
    height: 15px;
  }
}
.addButton:hover {
  background-color: var(--_122521-background);
}

.table {
  width: 100%;
  text-align: start;
  border-collapse: collapse; 
  tbody {
    p {
      margin: 0;
    }
    th {
      text-align: start;
      padding: 10px;
      color: var(--_374151-color); 
      font-weight: bold; 
      width: 150px; 
    }

    td {
      padding: 10px; 
      color: var(--_67-color);
      font-size: 13px;
      p:first-of-type {
        margin-bottom: 10px;
      }
    }
  }

  thead {
    th {
      min-width: 120px; 
    }
  }

}

.name {
  color: var(--_374151-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }
}

.small {
  min-width: 40px;
  width: 40px;
}
.big {
  width: 190px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 35px;
  img {
    cursor: pointer;
  }
}

.transacciones {
  display: flex;
  flex-direction: column;
  gap: 3px;
  a {
    font-weight: bold;
  }
  a,
  span {
    color: var(--_073f31-color);
  }
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.bg {
  background-color: var(--_00000033-background);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.newContactContainer {
  position: fixed;
  background-color: var(--white-color);
  padding-bottom: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:100vh;
  width:100%;
  overflow-y: scroll;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  &::-webkit-scrollbar {
    display: none;
  }

  .newContactForm {
    width: 90%;
    margin: 0 auto;
  }





  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p {
    color: var(--black);
    font-weight: 500;
    margin: 0;
    font-size: 14px;
  }
  .plan {
    padding-right: 30px;
    span {
      color: var(--black);
    }
  }

  .inputContainer {
    position: relative;
    display: flex;
    align-items: center;
  }
  .input {
    width: 100%;
    padding-right: 40px; 
    box-sizing: border-box; 
  }

  .icon {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 30px; 
    height: 20px;
    pointer-events: none; 
  }
  label,.phoneNumber {
    display: flex;
    flex-direction: column;
    color: var(--_67-color);
    gap: 8px;
    padding: 4px 0;
    input,
    select,
    option {
      padding: 8px;
      border: none;
      outline: none;
      background-color: var(--f5-background);
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
    }

    select,
    option {
      color: var(--_67-color);
    }
  }


  .btnOptionsContainer {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 10px;
    button {
      padding: 10px 20px;
      border-radius: 8px;
      text-decoration: none;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }


  }


}



.subHeader {
  color: var(--_67-color);
  font-size: 12px;
  font-weight: normal;
}

.table th {
  padding: 16px 8px;
  vertical-align: middle;
  color: var(--_4f5660-color);

}

.edit {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: end;
  a {
    color: var(--_073f31-color);
  }
}










.newContactContainer {
  background-color: var(--white-color);
  padding-bottom: 20px;
  height:100vh;
  width:100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  animation: scaleUp 300ms ease-out forwards;
  -webkit-animation: scaleUp 300ms ease-out forwards;
  &::-webkit-scrollbar {
    display: none;
  }

.newContactForm {
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    overflow: scroll;
    padding-bottom: 100px;
    box-sizing: border-box;
    &::-webkit-scrollbar {
      display: none;
    }
  }


}
.sectionContact{
  h3{
    color: var(--_10a37f-background);
    margin: 20px 0;
  }
   h5{
    color: var(--_10a37f-background);
    margin: 20px 0;
  }

  .infoLabel,.infoLabelIdentification{
    background-color: var(--white-color);
    padding: 10px 20px;
    border: 1px solid var(--db-background);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    >div{

    }
  }
  .infoLabelIdentification{
    gap: 10px;
  }
}


.containerNewContactForm {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.typeContact {
  display: flex;
  background-color: var(--f5-background);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 6px;
  gap: 10px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  overflow-x: auto;


  button {
    background-color: transparent;
    cursor: pointer;
    color: var(--_9b-color);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid transparent !important;
    flex: 1;
    background-color: transparent;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    outline: none;
}
  .selected {
    background-color: var(--white-color);
    color: var(--black);
    border-radius: 8px;
    border: 1px solid var(--_00000033-background) !important;
    box-shadow:
      0px 0px 2px 0px var(--_00000033-background),
      0px 0px 0px 0px var(--_00000033-background),
      0px 0px 0px 0px var(--_00000033-background);
  }
}



.button {
  cursor: pointer;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 600;
  color: var(--_18181b-color);
  font-size: 14px;
}

.newContactForm {
  label {
    padding: 10px 0;
    p {
      color: var(--1e293b-color);
      font-weight: 400;
    }
  }
  .detailsBill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .optionsDetailsBill {
      display: flex;
      align-items: center;
      gap: 10px;
      text-align: end;
    }
  }

  .payMethodInfoBill{
   .infoBillContainer{
    border-bottom: 1px solid var(--_10a37e6a-background);
    padding: 10px 0;
   }
  }
  .infoBillContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .info{
      p{
        width: 100%;
        display: flex;
        align-items: center;
        svg{
          margin-right: 5px;
        }
      }
    }
  }
  .editPencilContainer{
    border: 1px solid var(--db-background);
    height: 30px;
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
  }
  .billingDetailsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid var(--_10a37e6a-background);
    padding: 10px 0;
    &:last-child{

    }
  }
  .infoBill {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    span {
      color: var(--_67-color);
    }
    .defaultAddress {
      display: flex;
      width: 100%;
      justify-content: end;
      align-items: center;
      span {
        color: var(--_10a37f-background);
      }
    }
    .infoBillContainer {
      width: 100%;
      display: flex;
      align-items: center;


      .info {
        flex-direction: column;
        align-items: start;
        p{
          display: flex;
          align-items: center;
          svg{
            margin-right: 5px;
          }
        }
      }
    }
    .info {
      display: flex;
      width: 100%;
      span {
        width: fit-content;
        color: var(--_67-color);
        font-weight: 400;
      }
    }
    .button {
      width: fit-content;
      background-color: transparent;
      outline: none;
      border: none;
      text-decoration: underline;
      cursor: pointer;
      padding: 0;
    }
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 19px;

    span {
      color: var(--_67-color);
      font-weight: 400;
    }
  }

  .row {
    display: flex;
    gap: 10px;
    .info {
      flex: 1;
    }
  }

  button[disabled],
  input[disabled],
  select[disabled],
  option[disabled],
  textarea[disabled] {
    background-color: transparent;
  }


  input,
  select,
  option,
  textarea {
    border: none;
    outline: none;
    background-color: var(--f5-background);
    padding: 12px;
    box-sizing: border-box;
  }
  button::placeholder,
  input::placeholder,
  select::placeholder,
  option::placeholder,
  textarea::placeholder {
    color: var(--_67-color);
  }

  input {
    width: 100%;

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  input[type="checkbox"] {
    width: fit-content;
  }

  .payMethodContainer {
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 1px solid var(--_10a37e6a-background);
    color: var(--_18181b-color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    span {
      font-weight: 600;
    }
  }

  .payInfo {
    display: flex;
    gap: 10px;
  }

  .defaultBank {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    gap: 30px;
    div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    p {
      margin: 0;
      color: var(--_10a37f-background);
    }
    input {
      width: fit-content;
    }
  }
  .delete {
    background-color: var(--red-color);
    height: 20px;
    min-width: 20px;
    max-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    .icon {
      height: 13px;
      width: 13px;
    }
  }
.contactinfo{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  @media (width<=768px) {
    flex-direction: column;
    align-items: center;
  }
.fileInfo{
  display: flex;
  align-items: center;
  justify-content: end;
  input{
    background-color: var(--white-color);
    width: 100%;
    font-size: 20px;
    padding: 8px;
    &:disabled{
      background-color: transparent;
    }
  }

}

  .columnRightContactInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    overflow: hidden;
    gap: 10px;
    padding-left: 20px;
    @media (width<=768px) {
      align-items: center;

    }

    .btnContactInfoContainer{
      display: flex;
      align-items: center;
      gap: 5px;
      button{
        svg{
          color: var(--_9B-color);
          fill: var(--_9B-color);
        }
        .activeBtn{
          color: var(--_10a37f-border);
          fill: var(--_10a37f-border);
        }
      }
      svg{
        width: 20px;
        height: 20px;
      }
    }
.tagsContainer{
display: flex;
align-items: center;
gap: 10px;
width: 100%;
overflow-x: auto;
  .tag{
    display: flex;
    align-items: center;
    gap: 5px;
    span{
      min-width: 60px;
    }
  }
}
  }

}

  .parametersCounter {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    .icon {
      height: 10px;
      width: 10px;
      -webkit-transition: all 300ms;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
    }
    .rotated {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
    }
  }

  .parameter {
    display: flex;
    gap: 10px;
    div {
      flex: 1;
    }
  }
  .parametersContainer {
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    overflow: hidden;
    interpolate-size: allow-keywords;
  }
}

.defaultPhoneNumber{
  width: 100%;
  color: var(--_10a37f-background);
  display: flex;
  align-items: center;
  gap: 5px;
}
.headerPhoneNumer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.headerPhoneNumerPopup{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  p{
    font-size: 12px;
    margin: 0;
  }
}

.headerPhoneNumerPopupLeft {
  display: flex;
  flex-direction: column;

  .headerPhoneNumerPopupLeftFirstLine{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
  }

  .headerPhoneNumerPopupLeftSecondLine{
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.unknown {
  font-size: 14px;
  font-weight: 400;
  color: var(--_67-color);
}
.phoneNumber {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}
.buttonPhoneContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.phoneContainerUnknown {
  display: flex;
  width: 100%;
}
.phoneContainer {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  .phoneRow {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

      svg{
        height: 20px;
        width: 20px;
      }
  }
  .delete {
    background-color: var(--red-color);
    height: 20px;
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    .icon {
      height: 13px;
      width: 13px;
    }
  }
}

.searchIconsWrappers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: var(--db-background);
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
}
.FlagsDropdown {
  min-width: 150px;
}

.deleteButtonContainer{
padding-left: 5px;
display: none;
}

.categoryButton{

}


.categoryButton:hover{
  .deleteButtonContainer{
display: block;
}

}
.inputPhonePopup::-webkit-outer-spin-button,
.inputPhonePopup::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.inputPhonePopup {
  -moz-appearance: textfield;
  margin: 0;
  padding: 3px 2px;
}

.sectionContactPopup{
    h3{
    color: var(--_10a37f-background);
    margin: 20px 0;
  }
   h5{
    color: var(--_10a37f-background);
    margin: 20px 0;
  }

  .infoLabel,.infoLabelIdentification{
    background-color: var(--white-color);
    padding: 10px 20px;
    border: 1px solid var(--db-background);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    >div{

    }
  }
  .infoLabelIdentification{
    gap: 10px;
  }

  p{
    font-size: 12px;
  }

  span{
    font-size: 12px;
  }
}
