@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.dropdownContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  font-family: "Inter", sans-serif;
  flex: 1;
}

.filterSort {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--black);
  fill: var(--black);
  height: 35px;
  min-width: 100px;
  background: var(--f5-background);
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 10px;
  text-transform: capitalize;
}

.emailsFilterSort {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--black);
  height: 20px;
  background: var(--white-color);
  padding: 0 12px;
  min-width: 100px;
  display: flex;
  align-items: center;
  border: 1px solid var(--ed-background);
  justify-content: flex-start;
  cursor: pointer;
  gap: 10px;
  border-left: none;
}

.chevronIcon {
  margin-top: 1px;
  margin-left: auto;
  color: var(--_292d32-color);
}

.dropdownOptions {
  width: 100%;
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  margin-top: 4px;
  background: var(--f5-background);
  border-radius: 4px;
  box-shadow: 0px 4px 8px var(--_00000033-background);
  z-index: 1000;
  overflow: hidden;
}

.dropdownOptionsTelematel {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  margin-top: 4px;
  background: var(--f5-background);
  border-radius: 4px;
  box-shadow: 0px 4px 8px var(--_00000033-background);
  z-index: 1000;
  overflow: hidden;
  padding: 0;
}

.dropdownOption {
  padding: 8px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  position: relative;
  z-index: 1002;
  color: var(--black);

  img {
    width: 15px;
  }
  svg {
    height: 20px;
    width: 20px;
  }
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
}

.dropdownOption:hover {
  background-color: var(--db-background);
}

.dropdownOptionHover {
  padding: 8px;
  font-size: 12px;
  font-weight: 500;
  cursor: default;
  user-select: none;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;

  img {
    width: 15px;
  }
  svg {
    height: 20px;
    width: 20px;
  }
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
}

.dropdownOptionHover:hover {
  background-color: var(--f5-background);
  cursor: default;
}

.disabledBtn {
  background-color: transparent;
  cursor: default;
  .dropdownHeader{
    cursor: default;
  }
}
.subcategoryTitle {
  font-size: 13px;
  padding: 6px;
  color: var(--_292d32-color);
  font-weight: 700;
  cursor: initial;
}
.dropdownHeader {
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
  svg {
    height: 20px;
    width: 20px;
  }
}
.acceptButton {
  color: var(--_292d32-color);
  font-size: 14px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 20.02px;
  word-wrap: break-word;
}




.deleteEmailFormHeader {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: var(--_9b-color);
  border-radius: 15px;
  min-width: 20px;
  min-height: 20px;
}

.deleteEmailFormHeader:hover {
  background-color: var(--ed-background);
  color: var(--white-color);
}

.selectWrapper {
  display: inline-block;
  padding: 2px;
  border-radius: 8px;
  background: linear-gradient(270deg, var(--2ad348-background), var(--cyan), var(--2ad348-background));
  background-size: 400% 400%;
  animation: neonBorder 5s ease infinite;
}

.selectWrapper select {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--black);
  color: var(--white-color);
  font-size: 16px;
  appearance: none;
}

@keyframes neonBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.iconContainer{
  svg{
    fill: black;
  }
}

.iconContainerWhite{
  height: 20px;
  width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  svg{
    fill: white;
    width: 15px;
    height: 15px;
  }
}