.startButton {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 400;
  background: #10A37F;
  width: 100%;
  max-width: 200px;
  height: 57px;
  min-height: 57px;
  text-decoration: none;
  gap: 15px;
  padding: 0px 18px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  text-wrap: nowrap;
  box-shadow: 0 3px 34px -10px  rgba(0, 0, 0, 0.452);
  img {
    height: 15px;
  }
  &:hover{
    background: #08bb8e;

  }
}
