/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"); */
.packsContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  background-size: contain;
  align-self: center;
  overflow: hidden;
}
@media (width <= 500px) {
  .packsContainer {
    gap: 50px;
  }
}
.stepsContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  h2,
  h3 {
    margin: 0;
    font-size: clamp(20px, 5vw, 40px);
  }
  h2 {
    font-weight: 300;
  }
  h3 {
    font-weight: 600;
  }
}
.iconContainer {
  width: fit-content;

  background-color: var(--_10a37f-background);
  padding: 20px;
  border-radius: 20px 20px 20px 0;
  -webkit-border-radius: 20px 20px 20px 0;
  -moz-border-radius: 20px 20px 20px 0;
  -ms-border-radius: 20px 20px 20px 0;
  -o-border-radius: 20px 20px 20px 0;
}

@media (width <= 680px) {
  .stepsContainer {
    gap: 50px;
    p {
      font-size: 12px;
    }
  }

  .steps {
    width: 145px;
  }
  .iconContainer {
    width: 20px;
    .icon {
      width: 20px;
      height: 20px;
    }
  }
}

@media (width <= 500px) {
  .stepsContainer {
    flex-direction: column;
    p {
      font-size: 15px;
    }
  }
  .steps {
    width: 100%;
  }
  .iconContainer {
    width: fit-content;
    .icon {
      width: 40px;
      height: 40px;
    }
  }
}
.stepsContent {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* .packsDescription {
  color: #676767;
  font-size: clamp(18px, 5vw, 22px); 
  font-weight: 300;
  align-items: center;
  justify-content: center;
  width: 90%;
  text-align: center;
  padding: 0 20px;
  text-align: center;
  p {
    margin: 0;
    line-height: 30px;
  }
  span {
    color: var(--_10a37f-background);
    font-weight: 700;
  }
} */

.searchBar {
  display: flex;
  align-items: center;
  width: 728px;
  height: 90px;
  background-color: var(--white-color);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  margin: 33px 0px;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 17px;
  font-size: 32px;
  font-weight: 400;
  color: var(--_67-color);
}

.button {
  background-color: var(--_10a37f-background);
  border: none;
  width: 90px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #13a583;
}






.subtitle {
  color: #676767;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}



.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  div {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #16c0981b;
    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
  }
}

.programsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 100vh;
}

@media (width <= 500px) {
  .programsContainer {
    height: unset;
  }
}

.extensionsTitle {
  font-weight: 700;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #1c1e20;
  margin-top: 0px;
  text-align: center;

  h2 {
    margin: 0;
    font-weight: 300;
    font-size: clamp(
      20px,
      5vw,
      40px
    ) !important; 
  }
}





.pdfIcon {
  height: 30px;
  width: 30px;
}


.wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
  text-align: center;
  width: 88%;
  flex-wrap: wrap; 
  align-items: center;
  min-height: fit-content;
}


.card {
  min-width: 280px;
  max-width: 330px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; 
  align-items: center;
  justify-content: center;
  h4 {
    margin: 3px;
    font-size: 20px;
    font-weight: 500;
    color: #1C1E20;
    span{
      font-weight: 800;
    }
  }
}
.greenWordDescription{
  color: var(--_10a37f-background);
}
@media (width <= 660px) {
  .stepsContent {
    flex-direction: column;
    align-items: center;
  }
}
.card:nth-child(3) {
  max-width: clamp(210px, 32%, 300px); 
}

.step {
  color: #16c098 !important;
  font-size: clamp(16px, 4vw, 22px); 
  font-weight: 400;
  color: #18181b;
  font-size: clamp(15px, 5vw, 19px); 
  margin: 20px 0;
}

.subtitle {
  color: var(--_67-color);
  font-size: clamp(
    16px,
    4vw,
    20px
  ); 
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

