.popUpNewsCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow-x: hidden;
  position: relative;
  padding: 4px 10px;
  flex: 1;
  margin: 0 10px;
  -webkit-mask-image: linear-gradient(to right, transparent, var(--_292d32-color) 20%, var(--_292d32-color) 30%, transparent);
  mask-image: linear-gradient(to right, transparent, var(--_292d32-color) 20%, var(--_292d32-color) 30%, transparent);

  /* @media (width<=950px) {
    display: none;
  } */

  @media (1000px<=width) {
    flex: 2;
  }

  @media (1100px<=width) {
    flex: 3;
  }

  @media (1300px<=width) {
    flex: 4;
    margin: 0 -3vw 0 -1vw;
  }

  .popUpNewsCarouselContent {
    display: flex;
    gap: 10px;
    animation: scroll 400s linear infinite;
    padding: 0 10px;
  }

  &:hover .popUpNewsCarouselContent {
    animation-play-state: paused;
  }

  .popUpNewsCarouselItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 2px 6px 2px 2px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    background: transparent;
    flex-shrink: 0;
    background: #00000026;

    &:hover {
      background: #1a1e1b;
    }

    &:last-child {
      border: none;
    }

    &::before {
      content: attr(data-tooltip);
      position: absolute;
      top: calc(120% + 4px);
      left: 50%;
      transform: translateX(-50%);
      padding: 5px 10px;
      background: var(--_00000033-background);
      color: var(--white-color);
      border-radius: 4px;
      font-size: 12px;
      white-space: nowrap;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;

    }

    &::after {
      content: "";
      position: absolute;
      top: calc(100% - 2px);
      left: 50%;
      transform: translateX(-50%);
      border: 5px solid transparent;
      border-bottom-color: var(--_00000033-background);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
      visibility: visible;
    }

    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 8px;
    }

    .popUpNewsCarouselItemContent {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 6px;

      b {
        font-size: 12px;
        font-weight: 600;
        line-height: 10px;
        /* margin-top: 4px; */
        width: max-content;
        color: #fff;
      }

      span {
        font-size: 8px;
        font-weight: 300;
      }

      p {
        margin: 0;
        color: #c1c1c1;
        font-size: 12px;
        line-height: 10px;
      }
    }

    svg {
      width: 10px;
      height: 10px;
    }
  }
}





@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}