.stripeContainerFlex {
    display: flex;
    gap: 4px;
    span {
      font-size: 13px;
      color: var(--AAA-color);
    }
    > div {
      flex: 1;
    }
  }
  .stripeContainerFlex > div {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    flex-direction: column;
  }

  .stripeContainerFlex > div > div {
    flex: 1 1 100%; 
    padding: 6px;
    box-sizing: border-box;
    background-color: var(--db-background);
  }

  .moreInfoContainer{
    background-color: var(--f5-background);
    transition: background-color 0.3s ease;
    border-radius: 999px;
    cursor: pointer;
  }


  .moreInfoContainer:hover {
  stroke: var(--db-background);
  }

  .contentContainer{
    display: flex
;
    flex-direction: column;
    max-height: 55vh;
    overflow-y: auto;
    background-color: var(--f5-background);
}

.content{
    background-color: var(--white-color);
    box-sizing: border-box;
    border-radius: 8px;
    width: 95%;
    margin: 10px auto;
    padding: 10px;
  }
