.container{
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  gap: 6px;
  padding: 0 10px;
  background: var(--white-color);
  border-radius: 20px 0 0 0;
}

.notificationCoontainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 20px;
  min-height: 100vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
.delete {
  font-weight: 600;
  cursor: pointer;
  color: var(--red-color);
  text-decoration: underline;
  background-color: transparent;
  outline: none;
  border: none;
}

.searchIconsWrappers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: var(--db-background);
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
}


.notification {
  display: flex;
  border: 1px solid var(--db-background);
  padding: 20px;
  width: 90%;
  border-radius: 8px;
  flex-direction: column;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  p {
    margin: 0;
  }

  button {
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: bolder;
    cursor: pointer;
  }
}
