.contacts {
  position: absolute;
  bottom: 100%;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  background-color: var(--white-color);
  border: 1px solid var(--db-background);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 99;
  .contact,.asset {
    display: flex;
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 5px;
    cursor: pointer;
    img {
      border-radius: 999px;
      -webkit-border-radius: 999px;
      -moz-border-radius: 999px;
      -ms-border-radius: 999px;
      -o-border-radius: 999px;
      object-fit: cover;
    }
    p {
      color: #09090b;
    }
    span {
      color: #666666;
      font-size: 13px;
    }
  }

  .chatCard{
    border-radius: 8px;
    background-color: var(--white-color);
           p {
      margin: 0;
      font-size: 14px;
      font-weight: bold;
           }
    span {
      color: #666666;
      font-size: 13px;
    }
}
  .newContactInfoClient {
    background-color: var(--f5-background);
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}



.chatCard:hover{
 background-color: var(--f5-background);
}
