.container {
    width: 100%;
}

.mainGrid {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 24px;
    margin-bottom: 20px;
    padding: 0px 20px;
    min-height: 100vh;
    align-items: start;
}

@media (max-width: 1024px) {
    .mainGrid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}


/* @media (max-width: 1024px) {
    .mainGrid {
        grid-template-columns: 1fr;
    }
} */