.container {
  padding: 0px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clientsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  padding: 10px 10px 0px;
  width: 95%;
}
.infoClient {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h3,
  h2,
  p {
    margin: 0;
    color: black;
  }
  h3 {
    font-weight: bold;
    font-size: 22px;
  }
  p {
    font-weight: bold;
  }
}
.arrowContainer {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.iconContainer {
  border: none;
  outline: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 4px;
  display: flex;
  background-color: var(--_10a37f-background);
  color: var(--white-color);
  align-items: center;
  justify-content: center;
  height: fit-content;
  box-sizing: border-box;
  height: 25px;
  width: 25px;
}
.clientInfo {
  display: flex;
  flex-direction: column;
}
.contactInfo,
.info {
  display: flex;
  gap: 10px;
  align-items: center;
  white-space: nowrap;
}

.info p {
  margin-left: 10px; 
}

.info p:first-child {
  margin-left: 0; 
}

.contactInfo {
  flex-wrap: wrap;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  .button {
    text-decoration: underline;
    cursor: pointer;
    color: var(--_292d32-color);
    min-width: fit-content;
  }
}
.imgContainer {
  img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

.rowState {
  font-size: 15px;

  span {
    font-weight: bold;
    color: var(--009f7a-color);
    margin-right: 5px;
  }
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 20px;

  .inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 0 10px 10px 0;

    .searchInput {
      padding: 10px 10px 10px 35px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 16px;
      outline: none;
      width: 250px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;

      &::placeholder {
        color: #aaa;
      }
    }
  }
}



.searchIconsWrappers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: var(--db-background);
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
}



.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 40px;
  width: 40px;
  background-color: #233f39;
  color: var(--white-color);
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;

  img {
    width: 15px;
    height: 15px;
  }

  &:hover {
    background-color: #122521;
  }
}

.table {
  width: 100%;
  text-align: start;
  border-collapse: collapse;
  tbody {
    td {
      padding: 10px;
      color: #666666;
      font-size: 13px;
      p {
        margin: 0;
        &:first-of-type {
          margin-bottom: 0px;
        }
      }
    }
  }

  thead {
    th {
      text-align: start;
      padding: 10px;
      color: #333;
      font-weight: bold;
      width: 150px;
      min-width: 120px;
    }
  }
}

.name {
  color: #333333;
  font-weight: 600;
}



.small {
  min-width: 40px;
  width: 40px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  img {
    cursor: pointer;
  }
}

.transacciones {
  display: flex;
  flex-direction: column;
  gap: 3px;

  a {
    font-weight: bold;
    text-decoration: none;
  }

  span {
    text-decoration: underline;
  }
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.bg {
  background-color: var(--_00000033-background);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.newClientContainer {
  position: fixed;
  background-color: var(--white-color);
  padding-bottom: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 80%;
  overflow-y: scroll;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;






  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p {
    color: var(--black);
    font-weight: 500;
    margin: 0;
  }

  .plan {
    padding-right: 30px;

    span {
      color: var(--black);
    }
  }

  .inputContainer {
    position: relative;
    display: flex;
    align-items: center;
  }

  .input {
    width: 100%;
    padding-right: 40px;
    box-sizing: border-box;
  }

  .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 20px;
    pointer-events: none;
  }

  label {
    display: flex;
    flex-direction: column;
    color: #717171;
    gap: 8px;
    margin-bottom: 30px;
    padding: 10px 0;
    border-bottom: 1px solid #ebebeb;

    input,
    select,
    option {
      padding: 10px;
      border: none;
      outline: none;
      background-color: var(--f5-background);
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
    }

    select,
    option {
      color: var(--_67-color);
    }
  }



  .btnOptionsContainer {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 10px;

    button {
      padding: 10px 20px;
      border-radius: 8px;
      text-decoration: none;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }

  }

  button {
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
    color: var(--black);
    font-weight: 600;
    cursor: pointer;
  }
}
