.seeTransactions {
  display: flex;
  padding: 12px;
  margin: 12px 0;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--_10a37f-background);
    border: 1px solid var(--f5-background);
    background-color: var(--white-color);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    width: 100%;
    padding: 6px;
  }
  button {
    text-decoration: underline;
    background-color: transparent;
    border: none;
    outline: none;
    color: #073f32;
    font-weight: bold;
    width: 200px;
    cursor: pointer;
  }
}
.saveContact {
  background-color: var(--_10a37f-background);
  width: 100%;
  color: var(--white-color);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 10px;
}

.detailsContainer {
  margin: 24px 0;
  label{
    border-bottom: 1px solid #11a38132;
  }
}

.detailItem {
  border-bottom: 1px solid #ebebeb;
  padding: 24px 0px;
}


.optionsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}




.phoneRow,
.phoneContainer {
  display: flex;
  gap: 10px;
}
.phoneRow {
  align-items: center;
}
.phoneContainer {
  flex-direction: column;
  width: 100%;
}



.editButton,
.addButton {
  font-size: 12px;
  color: var(--_10a37f-background);
  background: none;
  border: none;
  cursor: pointer;
}
.inputEdit {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  width: max-content;
  color: #717171;
  width: 100%;
  padding: 12px;
}

.input::placeholder {
  color: #c4c4c4;
}
.inputEdit::placeholder {
  color: #c4c4c4;
}


.typeClient {
  display: flex;
  align-items: end;
  gap: 20px;
  margin: 20px 0;
}
.paymentMethodsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}


.btnSectionsSelector {
  background-color: var(--ed-background);
  display: flex;
  padding: 4px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  width: 100%;
  overflow-x: scroll;
  button {
    border-radius: 8px;
    height: 40px;
    min-width: 200px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--_9b-color);
    padding: 0;
  }

  .selected {
    background-color: var(--white-color);
    color: #0d0d0d;
    border: 1px solid #0000002b;
  }
}
label {
  display: flex;
  flex-direction: column;
  color: #717171;
  gap: 8px;
  input,
  select,
  option {
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--f5-background);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  select,
  option {
    color: var(--_67-color);
  }
}

.headerPhoneNumer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  p{
    color: #222;
    margin: 0;
  }
}
.unknown {
  font-size: 14px;
  font-weight: 400;
  color: #717171;
}
.phoneNumber {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}
.buttonPhoneContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  .button {
    cursor: pointer;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 600;
    color: #18181b;
    font-size: 14px;
  }

}
.phoneContainerUnknown {
  display: flex;
  width: 100%;
  padding: 12px 0;
}
.phoneContainer {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  .phoneRow {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    svg{
      height: 20px;
      width: 20px;
    }
    button[disabled],
    input[disabled],
    select[disabled],
    option[disabled],
    textarea[disabled] {
      background-color: transparent;
    }
    input,
    select,
    option {
      padding: 10px;
      border: none;
      outline: none;
      background-color: var(--f5-background);
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
    }

  }
  .delete {
    background-color: #dc3545;
    height: 20px;
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    .icon {
      height: 13px;
      width: 13px;
    }
  }
}

.searchIconsWrappers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: var(--db-background);
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
}
.FlagsDropdown {
  min-width: 150px;
}


.detailsBill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p{
    color: #222;
  }
  button {
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
    cursor: pointer;
  }
  .optionsDetailsBill {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: end;
    .button{
      cursor: pointer;
      background-color: transparent;
      text-decoration: underline;
      font-weight: 600;
      color: #18181b;
      font-size: 14px;
  }
  }
}

.infoBillContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.infoBill {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  span {
    color: #717171;
    padding: 12px 0;
  }
  .defaultAddress {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    span {
      color: #2ebc89;
    }
  }
  .infoBillContainer {
    width: 100%;
    display: flex;
    align-items: center;
    .info {
      flex-direction: column;
      align-items: start;
    }
  }
  .info {
    display: flex;
    width: 100%;
    span {
      width: fit-content;
      color: #717171;
    }
  }
  .button {
    width: fit-content;
    background-color: transparent;
    outline: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
  }
}

.info {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;

  span {
    color: #717171;
    font-weight: bold;
  }
}

.row {
  display: flex;
  gap: 10px;
  .info {
    flex: 1;
  }
}
