.isAudio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    p {
        font-size: 12px;
        color: var(--_67-color);
    }

    button {
        padding: 4px 10px;
        border-radius: 4px;
        background-color: var(--white-color);
        color: var(--1e293b-color);
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        border: none;
        border: 1px solid var(--_00000033-background);
    }
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        font-size: 16px;
        color: var(--_67-color);
    }
}

.iconWaves {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--_10a37f-background);
    background-color: var(--_10a37f-background);
    border-radius: 50%;
    position: absolute;
    z-index: 9;
    bottom: -4px;
    left: -26px;

    svg {
        width: 16px;
        height: 16px;
    }
}