.checkboxWrapper {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #e2e8f0;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.checkbox:checked {
  background-color: #6B46C1;
  border-color: #6B46C1;
}

.checkbox:checked::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid var(--white-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.label {
  font-size: 14px;
  color: #4A5568;
}

