.path{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1A1A1A;
    cursor: pointer;
    p{
        color: #737373;
        margin: 0;
    }
}
.title{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}
.description{
    color: #1A1A1A;
    font-weight: 400;
}

.additionalContent{
    display: flex;
    flex-direction: column;
    border: 1px solid #e6e6e6;
    padding: 20px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}