.advertencyContainer{
    background-color: #ecfdf577;
    border: 1px solid #10b98128;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .advertencyContent{
      display: flex;
      align-items: center;
      gap: 10px;
      color: #669C8D;
      font-size: 13px;
    }
    .AdvertencyIconContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--_10a37f-background);
      min-width: 15px;
      max-width: 15px;
      height: 15px;
      border-radius: 999px;
      -webkit-border-radius: 999px;
      -moz-border-radius: 999px;
      -ms-border-radius: 999px;
      -o-border-radius: 999px;
    }  
    svg{
      color: #10A37F;
      fill: #10A37F;
    }
  }