.carouselContainer {
  display: flex;
  gap: 10px;
  padding: 10px 0px;
  overflow-x: scroll;
  white-space: nowrap;
  background-color: var(--white-color);
  border: 1px solid #ebebeb;
  border-radius: 8px;
  max-width: 385px;
}

.carouselContainer::-webkit-scrollbar {
  height: 6px;
}

.carouselContainer::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 12px;
}

.carouselContainer::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 12px;
}

.optionButton {
  border: 0px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  hyphens: auto;
  padding: 0px;
  height: 40px;
  width: 40px;
  border: 1px solid var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionButton:hover {
  border: 1px solid #62ffd8;
}

.selected {
  border: 1px solid #13b88e;
}

.optionButton.selected {
  border: 1px solid #13b88e;
  color: var(--white-color);
}

.optionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin: 0;
  color: #6a6a6a;
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
  width: 70px;
  margin-top: 10px;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  hyphens: auto;
}
