.NewAgentContainer {
    display: flex;
    overflow: hidden;
    position: relative;
  }
  
  .ProfileImageContainer {
    width: 443px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    overflow-y: auto;
    position: sticky;
    top: 0;
  }
  
  .infoAgentSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 80px);
    background-color: #ffffff;
    position: relative;
  }
  
  
  .typeContact {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 6px;
    padding: 6px;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .typeContact button {
    background-color: transparent;
    cursor: pointer;
    color: #999999;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border-radius: 8px;
    border: 1px solid transparent !important;
    flex: 1;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typeContact .selected {
    background-color: white;
    color: #0d0d0d;
    border-radius: 8px;
    border: 1px solid #0000002b !important;
    background: #fff;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.03),
      0px 0px 0px 0px rgba(0, 0, 0, 0),
      0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  
  .newAgentSection {
    background-color: white;
    border-radius: 8px;
    border: 1px solid var(--db-background);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
  
  .listAgents {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .infoAgentSection .tabsSection {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .infoAgentSection .tabsSection .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .componentContainer {
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 100%;
  }
  
  .componentContainer .content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .highlightText {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
  }
  
  .listContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .listItem {
    color: #0D0D0D;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
  }
  
  h3 {
    color: var(--_10a37f-background);
  }
  
  p {
    color: var(--_18181b-color);
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
  
  @media (min-width: 768px) {
    .NewAgentContainer {
      flex-direction: row;
    }
  
    .ProfileImageContainer {
      padding: 40px;
    }
  }
  
  @media (max-width: 767px) {
    .ProfileImageContainer {
      padding: 10px;
    }
  
    .typeContact {
      flex-direction: column;
    }
  
    .typeContact button {
      width: 100%;
    }
  }
  