.infoContainerWrapper {
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 0;
  justify-content: space-between;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  padding: 0;
  cursor: pointer;
  div {
    color: var(--1e293b-color);
    font-size: 12px;
    font-weight: 500;
  }

  span {
    color: var(--1e293b-color);
    font-size: 12px;
    font-weight: 300;

    @media (width<=768px) {

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.editableInputHeader {
  p {
    margin: 0;
  }
}

.editableInput{

 .textareaContainer{
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 93%;

  textarea{
    resize: none;
  }

  >div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
    span{
      font-size: 12px;
      font-weight: 300;
      color: var(--1e293b-color);
    }
  }
 } 
}


.contentContainer {
  >div >p{
    
    color: var(--1e293b-color);
    font-size: 13px;
    line-height: 1;
    display: flex
;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0px solid var(--db-background);
    border-top: 0px solid var(--db-background);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 6px;
  }
  &.active {
    display: block;
  }

  &.disabled {
    display: none;
  }
}

.inputTypeClient {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  min-height: 21px !important;
  background-color: var(--f5-background);
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;

  &::placeholder {
    color: var(--_67-color);
  }
}

.keywordContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 9px 0;

  .keyword {
    display: flex;
    gap: 9px;
    padding: 3px 12px;
    border-radius: 30px;
    border: 1px solid var(--db-background); 
    align-items: center;
  }
}

.cardTypesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 9px 0;
}

.singleTypeCard {
  display: flex;
  gap: 9px;
  padding: 3px 12px;
  border-radius: 30px;
  border: 1px solid var(--db-background) ;

  span {
    font-size: 12px;
    font-weight: 400;
    color: var(--_292d32-color);
    user-select: none;
  }
}

.messageConfigurationContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selectedVariablesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;

  .selectedVariables {
    display: flex;
    gap: 9px;
    padding: 3px 12px;
    border-radius: 30px;
    border: 1px solid var(--db-background) ;
    align-items: center;
    width: fit-content;
  }
}