.actionButtons {
    display: flex;
    gap: 12px;
}

.actionBtn {
    flex: 1 1;
    padding: 3px 4px;
    border: 1px solid var(--db-background);
    background: var(--white-color);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    transition: all 0.2s ease;
    color: var(--_67-color);

    .shortcut {
        font-size: 12px;
        background-color: var(--db-background);
        border-radius: 4px;
        padding: 4px 6px;
        color: var(--_9B-color);
        font-weight: 400;
        margin-left: auto;
        margin-right: 14px;
        right: -10px;
        position: relative;
        white-space: nowrap;
      }

}

.actionBtn:hover {
    background: var(--f5-background);
    border-color: var(--db-background);
    transform: translateY(-1px);
}

.actionBtn.primary {
    background: linear-gradient(135deg, var(var(--_10a37f-background)) 0%, var(--_10a37f-background) 100%);
    color: var(--white-color);
    border-color: var(var(--_10a37f-background));
    box-shadow: 0 2px 4px var(--_10a37e6a-background);
}

.actionBtn.primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px var(--_073f31-color);
}

@media (max-width: 768px) {
    .actionButtons {
        flex-direction: column;
    }
}