.header {
  display: flex;
  justify-content: space-between;
}


.title_content_input {
  color: #1f184b;
  font-size: 18px;
  line-height: 1;
  margin-top: 15px;
  margin-bottom: 8px;
}



.content_input {
  display: flex;
  flex-direction: column;
}



.cardTypesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 9px 0;
}

.singleTypeCard {
  display: flex;
  gap: 9px;
  padding: 3px 12px;
  border-radius: 30px;
  border: 1px solid #e0e3e6;

  span {
    font-size: 12px;
    font-weight: 400;
    color: #2a2e32;
    user-select: none;
  }
}

.minusIcon {
  height: 13px;
  margin-top: 1px;
  width: 13px;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  background: #dc3545;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sectionWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.infoContainerWrapper {
  display: flex
  ;
      align-items: center;
      gap: 22px;
      padding: 0;
      justify-content: space-between;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  padding: 0;

  div {
    color: #1f184b;
    font-size: 12px;
    font-weight: 500;
  }

  span {
    color: #1f184b;
    font-size: 12px;
    font-weight: 300;
  }
}

.contentInput {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.titleContentInput {
  color: #1f184b;
  font-size: 18px;
  line-height: 1;
  margin-top: 15px;
  margin-bottom: 8px;
}

.cardTypesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 9px 0;
}

.singleTypeCard {
  display: flex;
  gap: 9px;
  padding: 3px 12px;
  border-radius: 30px;
  border: 1px solid #e0e3e6;

  span {
    font-size: 12px;
    font-weight: 400;
    color: #2a2e32;
    user-select: none;
  }
}

.minusIcon {
  height: 13px;
  margin-top: 1px;
  width: 13px;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  background: #dc3545;
  display: flex;
  align-items: center;
  justify-content: center;
}



.subtitleContentInput {
  font-weight: 300;
  font-size: 11;
  color: #18181b;
}

.singlePhoneNumber {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-between;
  color: #666666;
  font-size: 12px;
  font-weight: 500;

  div {
    cursor: pointer;
    user-select: none;
  }
}

.contentContainer {
  &.active {
    display: block;
  }

  &.disabled {
    display: none;
  }
}

.automateContainer {
  display: flex;
  flex-direction: column;

  .inputContainer {
    position: relative;

    .iconMagic {
      width: 23px;
      height: 22px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: var(--dcfce7-background);
      border: none;
      border-radius: 50%;
      position: absolute;
      bottom: 10px;
      left: -5px;
      padding: 0px;
      svg {
        width: 20px;
        height: 22px;
        fill: var(--_10a37f-background);
      }
    }
  }
}

.footer {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  gap: 4px;
  background-color: var(--f5-background);
  box-sizing: border-box;
  padding: 10px 0px;
  position: absolute;
  bottom: 15px;
  border-radius: 10px;
  font-size: 14px;

  @media (width<=528px) {
    & {
      padding: 30px 10px 22px 10px;
    }
  }
}