.infoContainerWrapper {
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 0;
}

.infoContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  padding: 0;
  div {
    color: #1f184b;
    font-size: 12px;
    font-weight: 500;
  }
  span {
    max-width: 360px;
    color: #1f184b;
    font-size: 12px;
    font-weight: 300;
  }
}

.infoContainerFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0;
  margin: 0px;
  width: 100%;
}

.contentContainer {
  &.active {
    display: block;
  }
  &.disabled {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.headerMail {
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: 200px;
  margin-top: 10px;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--db-background);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 27px;
  width: 30px;
}

.addConnection {
  color: #159b7c;
  cursor: pointer;
}

.labelFile {
  color: #232222;
  cursor: pointer;
  border: 1px solid #cbcbcb;
  border-radius: 8px;
  padding: 5px 25px;
  font-size: 12px;
  font-weight: 500;
  margin: 0px;
}

.cssGmail {
  display: block;
  border: 1px solid #e5e5e5;
  padding: 15px 10px;
  border-radius: 15px;
}

.fileContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}




.customNotifyWrapper{
  overflow: hidden;
}