.newTagHeader {
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 6px 18px;
  /* background-color: var(--f5-background); */
  position: sticky;
  top: 0;
  @media (width<=768px) {
    padding: 6px 4px;
  }
  .leftSide {
    display: flex;
    align-items: center;
    gap: 10px;
    .iconContainer {
      border: none;
      outline: none;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      cursor: pointer;
      border: 1px solid transparent;
      padding: 4px;
      display: flex;
      background-color: var(--_10a37f-background);
      color: var(--white-color);
      align-items: center;
      justify-content: center;
      height: fit-content;
      box-sizing: border-box;
      height: 25px;
      width: 25px;
      pointer-events: all;
    }
    h3 {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 17px;
      color: var(--black);
      text-align: center;
      font-family: Inter;
      font-size: 19px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; 
      margin: 0px 0;
      @media (width<=768px) {
        font-size: 15px;
        
      }
    }
  }

  .rightSide {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
