.calendarDay {
	min-width: 750px;
	position: relative;

	tbody {
		position: relative;
	}
	th,
	td {
		width: 7%;
		min-height: 40px;
		height: 40px;
	}
	thead {
		position: sticky;
		top: 0;
		height: 73px;
		min-height: 73px;
		z-index: 1;
	}
	th:nth-child(1),
	td:nth-child(1) {
		position: relative;
		min-width: 70px;
		width: 70px;
		background: var(--f5-background);
		color: var(--_10a37f-background);
		border: none;
		padding: 2px 5px;
		font-size: 11px;
		font-weight: 500;
		text-align: right;
	}

	th {
		background: var(--_073f31-color);
		color: var(--_10a37f-background);
		border-color: var(--_073f31-color);
		padding: 2px 9px;
		font-size: 15px;
		font-weight: 600;
	}

	th:nth-child(1) {
		background: var(--f5-background);
	}

	th:nth-child(2),
	td:nth-child(2) {
		width: 100%;
	}
}
.leftTimezone {
	height: 65px;
	background: var(--f5-background);
	width: 70px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	z-index: 999999;
	font-size: 11px;
	color: var(--_10a37f-background);
	font-weight: 600;
	padding-bottom: 8px;
	border-radius: 5px;
}
.calendarDayHeader {
	min-height: 100px !important;
}

.firstTh {
	border-bottom: none !important;
	height: 40px !important;
	min-height: 40px !important;
	max-height: 40px !important;
	z-index: 9999999999;
}
.dayMonthContainer {
	position: relative;
}
.dayMonthInnerContainerWrapper {
	position: absolute;
	padding-left: 5px;
	left: -1px;
	top: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	width: calc(100% + 1px);
	background: var(--f5-background);
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}
.dayMonthInnerContainerWrapperWeek {
	position: absolute;
	padding-left: 5px;
	left: -1px;
	top: 0;
	padding-top: 5px;
	width: calc(100% + 1px);
	background: var(--f5-background);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	z-index: 100000;
}
.dayMonthInnerContainer {
	display: flex;
	padding-left: 5px;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.dayText {
	color: var(--_10a37f-background);
	font-weight: 500;
	font-size: 12px;
}

.selectedDayCircle {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	font-size: 26px;
	padding-right: 1px;
	font-weight: 500;
	background-color: var(--_10a37f-background);
	color: var(--white-color);
}

.hourZoneWrapper {
	position: relative;
	background: var(--f5-background) !important;
	border-top: none !important;
}
.hourZoneInner {
	position: absolute;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	bottom: -1px;
	width: calc(100% - 10px);
	right: 10px;
	z-index: 100000;
	background: var(--f5-background);
	color: var(--_10a37f-background);
	padding: 2px 8px;
	font-size: 11px;
	font-weight: 500;
}
.hourContainer {
	position: absolute;
	/* top: -9px; */
	right: 10px;
	/* background: var(--f5-background); */
	width: calc(100% - 10px);
	padding-right: 5px;
	z-index: 150000;
}
.selectedHourContent {
	display: flex;
	width: 100%;
	margin-right: 2px;
	padding: 2px 5px;
	flex-direction: column;
	border-radius: 4px;
	justify-content: flex-start;
	color: var(--white-color);
	align-items: flex-start;
	font-size: 12px;
	font-weight: 500;
	height: 100%;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	user-select: none;
	opacity: 0.8;
	position: relative;
	transition: all 0.2s ease-in-out;
	&:hover {
		opacity: 1;
	}
}
.floatingHourContent {
	display: flex;
	width: calc(100% - 11px);
	margin-right: 2px;
	padding: 2px 5px;
	flex-direction: column;
	border-radius: 4px;
	justify-content: flex-start;
	color: var(--white-color);
	align-items: flex-start;
	font-size: 12px;
	font-weight: 500;
	height: 100%;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	user-select: none;
	opacity: 0.8;
	position: absolute;
	top: 13px;
	left: 10px;
	transition: all 0.2s ease-in-out;
	z-index: 9999999999999;
	&:hover {
		opacity: 1;
	}
}

.hourContent {
	padding-left: 10px;
	position: relative !important;
	display: flex;
	border-top: none !important;
	flex-direction: row;
}

.hourContentOutPosition{
	padding-left: 10px;
	display: flex;
	border-top: none !important;
	flex-direction: row;
}

.singleTask {
	display: flex;
	width: 300px;
	max-width: 400px;
	margin-right: 2px;
	padding: 2px 5px;
	flex-direction: column;
	border-radius: 4px;
	justify-content: flex-start;
	color: var(--white-color);
	align-items: flex-start;
	font-size: 11px;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: 500;
	height: 15px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	user-select: none;
	opacity: 0.8;
	position: absolute;
	top: 13px;
	left: 200px;
	transition: all 0.2s ease-in-out;
	z-index: 99999999999999;
	&:hover {
		opacity: 1;
	}
}

