.container {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  background-color: var(--white-color);
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--_00000033-background);
  max-width: 280px;
  min-width: 200px;
  bottom: 25px;
  left: -55px;
  pointer-events: auto;
  cursor: pointer;
  z-index: 100;

  >div {
    display: inline-flex;
    flex-direction: column;
    gap: 2px;
    margin-top: -6px;
  }
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-weight: 600;
  margin: 0;
  color: #111;
}

.email {
  font-size: 14px;
  color: var(--_67-color);
  margin: 0;
}