.wrongAlert {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  min-height: 38px;
  background-color: #FEF5E5;
  border: 0px solid #d0d0d0;
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4px;
  height: 38px;
  background: #7C5400;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.icon {
  width: 24px;
  height: 24px;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message {
  font-size: 14px;
  line-height: 16px;
  color: #4F5660;
}

.buttonClose {
  background-color: transparent;
  border: none;
  color: #0065f1;
  text-decoration: underline;
  padding: 0;
}