
.label{
  display: flex;
  flex-direction: column;
  color: var(--_67-color);
  gap: 5px;
  border-bottom: 1px solid var(--db-background);
  margin-top: 20px;
}
.detailsBill {
  display: flex;
  margin-bottom: 20px;
  p {
    width: 100%;
  }

  .optionsDetailsBill {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: end;
    flex-wrap: wrap;
    justify-content: end;
  }
}
.button {
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
  color: var(--_292d32-color);
  font-weight: 500;
  padding: 0;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  min-width: fit-content;
}
.infoBillContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.infoBill {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  span {
    color: var(--_67-color);
  }
  .defaultAddress {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    span {
      color: var(--_10a37f-background);
    }
  }
  .infoBillContainer {
    width: 100%;
    display: flex;
    align-items: center;
    .info {
      align-items: center;
      justify-content: space-between;
    }
  }
  .info {
    display: flex;
    width: 100%;
    gap: 10px;
    span {
      width: fit-content;
      color: var(--_67-color);
    }
  }
}

.footerDetailsbill{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.deleteContact {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: var(--red-color);
  gap: 7px;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16.9px;
  cursor: pointer;

  .icon {
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 10px;
    border-radius: 200px;
    background: var(--ed-background);
  }
}