.helpCategoryContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: left;
}
.categoryClass .buttonClass{
    background-color:transparent;
    width: 100%;
    border: none;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.activeButton {
  background-color: #ECECEC !important;
  border-radius: 8px;
  padding: 10px;
}
.visible{
    max-height: 600px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.hidden{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;

}
.subCategoryContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

