.helpCategoryContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: left;
    height: fit-content;
    position: sticky;
    top: 55px;
}
/* .searchContainerL {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  cursor: pointer;

  img {
    transition: filter 0.1s ease;
    -webkit-transition: filter 0.1s ease;
    -moz-transition: filter 0.1s ease;
    -ms-transition: filter 0.1s ease;
    -o-transition: filter 0.1s ease;
  }
} */

.searchContainerIcon {
  background-color: var(--db-background);
  padding: 4px;
  border-radius: 4px;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}
