@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
.container {
 
  background: linear-gradient(180deg, var(--white-color) 21%, var(--f5-background) 100%);
}
.containerInner{
  display: flex !important;
  font-family: "Inter", sans-serif;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
 
  margin-top: 80px;
  background-color: transparent;
}
.content {
  display: flex;
  width: 63%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  input,
  textarea {
    width: 100%;
  }
}

.leftSection {
  width: 100%;
}

.title {
  font-size: clamp(35px, 5vw, 55px) !important; 
  font-weight: 400;
  color: #18181b;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: clamp(12px, 3vw, 22px) !important; 
  font-weight: 400;
  color: #676767;
  margin-bottom: 2rem;
}

.inputGroup {
  margin-bottom: 1rem;
  width: 100%;
  flex: 1;
}
.inputGroupContainer {
  display: flex;
  width: 100%;
  gap: 30px;
}
@media (max-width: 468px) {
  .inputGroupContainer {
    flex-direction: column;
    gap: 2px;
  }
}

label {
  display: block;
  font-size: 14px;
  color: #18181b;
  margin-bottom: 0.5rem;
}

.input,
.textarea {
  width: 100%;
  min-width: 200px;
  outline: none;
  border: 1px solid var(--f5-background);
  border-radius: 8px;
  font-size: 14px;
  padding: 1rem;
  background-color: var(--f5-background);
  color: var(--_67-color);
  box-sizing: border-box;
  &:focus {
    border: 2px solid #dadbdd;
  }
}

.input {
  height: fit-content;
}

.textarea {
  height: 120px;
  resize: none;
}

.button {
  background-color: #233f39;
  color: var(--white-color);
  border: none;
  border-radius: 30px;
  min-height: 53px;
  height: 53px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin-top: 30px;
}

.buttonForm {
  width: 100%;
  height: 48px;
  min-height: 48px;
  padding: 4px 35px;
}

.wsBtn {
  background-color: var(--white-color);
  border: 1px solid #dcdcdc;
  margin-top: 40px;
  width: 55%;
  color: #676767;
  font-weight: 500;
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  &:hover {
    background-color: var(--f5-background);
  }
}

.infoContact,
.infoText.infoText a {
  color: var(--_67-color);
}

.keepInformed {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--_67-color);
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #233f39; 
  }
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 80%;
}

.line {
  flex: 1;
  height: 2px;
  background-color: #11a38125;
  margin: 0 10px;
}

.circle {
  width: 20px;
  height: 20px;
  color: #e1e1e1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSection {
  flex: 1;
  display: flex;
}



@media (max-width: 860px) {
  .content {
    width: 99%;
  }

  .leftSection {
    width: 100%;
    display: flex;
    justify-content: center;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 93%;
      .inputGroup {
        width: 100%;
      }
    }
  }

  .rightSection {
    display: none;
  }
}

@media (max-width: 860px) {
  .button {
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  .wsBtn {
    width: 100%;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
}


.textContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
}

.subtitle {
  margin: 0;
}

.statusMessage {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: var(--white-color);
  opacity: 0;
  animation: fadeInOut 3s forwards;
  z-index: 1000;
  -webkit-animation: fadeInOut 3s forwards;
  -webkit-animation: fadeInOut 3s forwards;
}

.success {
  background-color: var(--f5-background);
  color: black;
  width: 40%;
  > div {
    padding: 10px;
  }
  p {
    margin: 0;
    background-color: var(--white-color);
    color: #38343d;
    padding: 20px;
    width: 100%;
    text-align: start;
    box-sizing: border-box;
    border: 1px solid var(--db-background);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

.error {
  background-color: #f44336;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.startNowSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 80px 10px;
}
.reviewsTitle {
    font-size: clamp(20px, 5vw, 50px) !important; 
  font-weight: 400;
  color: #18181b;
  text-align: center;
  margin-bottom: 10px;
}

.reviewsDescriptionLast {
  font-size: clamp(
    12px,
    1.5vw,
    27px
  ) !important; 
  font-weight: 400;
  max-width: 720px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #676767;
  text-align: center;
}
.startsFrom {
  font-weight: 700;
  font-size: 36px;
  color: var(--_10a37f-background);
  display: flex;

  gap: 10px;
  span {
    color: black;
  }
  span:first-child {
    font-weight: 300;
  }
}
.price {
    font-size: clamp(30px, 12vw, 86px) !important; 
  color: #18181b;
  font-weight: 700;
  margin-bottom: 20px;
  span {
    margin-left: -10px;
    font-size: 46px;
  }
}

.startButton {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 400;
  background: var(--_10a37f-background);
  width: 100%;
  max-width: 360px;
  height: 57px;
  min-height: 57px;
  text-decoration: none;
  gap: 15px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  img {
    height: 10px;
  }
}
