.calendarInfoWrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	user-select: none;
	gap: 12px;
}
.calendarInfoInner {
	padding: 0px 8px;
	border-radius: 5px;
	transition: background 0.2s ease-in-out;
	&:hover {
		background-color: var(--_073f31-color);
	}
}
.normalIcon {
	color: var(--_374151-color);
}

.topContent {
	display: flex;
	flex-direction: row;
	gap: 4px;
	align-items: center;
}

.infoTexts {
	font-size: 14px;
	margin-top: -5px;
}

.expandedInfoWrapper {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	gap: 8px;
}
.calendarColorContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;
	flex-direction: row;
}

.calendarTitle {
	font-size: 14px;
	font-weight: 600;
	color: var(--_374151-color);
}

.availabilityContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 12px;
	flex-direction: row;
}
.notifWrapper {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 12px;
	flex-direction: row;
}
.notificationsContainer {
	display: flex;
	flex-direction: column;
	gap: 7px;
}
.addNotifButton {
	border-radius: 5px;
	padding: 4px 8px;
	margin-left: 32px;
	cursor: pointer;
	user-select: none;
	background-color: var(--_073f31-color);
	transition: background 0.2s ease-in-out;
	font-size: 12px;
	color: var(--f5-background);
	&:hover {
		background-color: var(--_073f31-color);
	}
}
