.calendarPopup {
	position: absolute;
	top: 100%;
	left: 0;
	flex-direction: column;
	z-index: 100;
	background-color: white;
	border: 1px solid var(--border-color);
	border-radius: 4px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-top: 5px;
	z-index: 100000;
}
.miniCalendarWrapper {
	background: var(--f5-background);
	border-radius: 10px;
	padding: 2px;
	overflow: hidden;
}

.date {
	display: flex;
	align-items: center;
	gap: 2px;
	justify-content: space-between;
	b {
		color: var(--_10a37f-background);
		font-size: 12px;
		font-weight: 600;
	}
	div {
		display: flex;
		align-items: center;
		gap: 10px;

		button {
			transition:
				background 0.2s ease-in-out,
				transform 0.1s ease-in-out;
			cursor: pointer;
			user-select: none;
			padding: 3px;
			background: var(--_073f31-color);
			color: var(--_10a37f-background);
			border-radius: 6px;
			&:hover {
				background: var(--_073f31-color);
				transform: scale(1.05);
			}

			&:active {
				background: var(--_10a37f-background);
				transform: scale(0.95);
			}
			svg {
				width: 8px;
				height: 8px;
			}
		}
	}
}
