.checkboxAndText {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 7px;
	color: var(--_374151-color);
	font-size: 12px;
}

.textContainer {
	color: text;
}
.subtextContainer {
	color: var(--text-color-secondary);
	font-size: 11px;
}

.checkboxIcon {
	color: var(--_10a37f-background);
}

.checkedButton {
	background: transparent;
	padding: 3px;
	border-radius: 50%;
	border: none;
	transition:
		background-color 0.2s ease-in-out,
		transform 0.2s ease-in-out;
	animation: checkboxCheckedAnimation 0.25s ease;
	&:hover {
		background-color: var(--f5-background);
	}
}

.uncheckedButton {
	padding: 3px;
	border-radius: 50%;
	border: none;
	transition:
		background-color 0.2s ease-in-out,
		transform 0.2s ease-in-out;
	animation: checkboxUncheckedAnimation 0.25s ease;
	background: transparent;
	&:hover {
		background-color: var(--f5-background);
	}
}

@keyframes checkboxCheckedAnimation {
	0% {
		transform: scale(0.85);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes checkboxUncheckedAnimation {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(0.85);
	}
}
