.customDateHourSelectorWrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	width: 100%;
	gap: 10px;
}
.customDateHourSelectorDate {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 16px;
	color: var(--_374151-color);
	font-weight: 500;
	border: 1px solid transparent;
	position: relative;
	cursor: pointer;
	user-select: none;
	transition: border 0.2s ease-in-out;
	&:hover {
		border-bottom: 1px solid var(--text-color-secondary);
	}
}
.customDateHourSelectorHourStart {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	margin-left: 22px;
	color: var(--_374151-color);
	font-weight: 500;
	border: 1px solid transparent;
	cursor: pointer;
	user-select: none;
	position: relative;
	transition: border 0.2s ease-in-out;
	&:hover {
		border-bottom: 1px solid var(--text-color-secondary);
	}
}
.customDateHourSelectorHourEnd {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: var(--_374151-color);
	font-weight: 500;
	border: 1px solid transparent;
	cursor: pointer;
	user-select: none;
	position: relative;
	transition: border 0.2s ease-in-out;
	&:hover {
		border-bottom: 1px solid var(--text-color-secondary);
	}
}

.dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	max-height: 200px;
	width: 150px;
	overflow-y: auto;
	background-color: var(--f5-background);
	border-radius: 4px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.option {
	padding: 8px;
	cursor: pointer;
	color: var(--_374151-color);
	transition: background-color 0.15s;
	font-size: 13px;
	font-weight: 500;
}

.option:hover {
	background-color: var(--_073f31-color);
}

.selected {
	background-color: var(--_073f31-color);
}

.hovered {
	background-color: var(--_073f31-color);
}
