.toast {
	position: fixed;
	bottom: -100px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--_374151-color);
	color: var(--white-color);
	padding: 13px 25px;
	border-radius: 5px 5px 0px 0px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition:
		transform 0.5s ease,
		opacity 0.5s ease;
	opacity: 0;
	z-index: 100000;
}

.toast.show {
	transform: translateX(-50%) translateY(0); 
	bottom: 0px;
	opacity: 1;
}

.toast.hide {
	transform: translateX(-50%) translateY(100px);
	bottom: -100px;
	opacity: 1;
}
