.formTime {
	display: flex;
	align-items: center;
	border-radius: 5px;
	padding: 3px 5px;
	margin-left: -4px;
	cursor: pointer;
	user-select: none;
	gap: 5px;
	transition: background 0.2s ease-in-out;
	&:hover {
		background-color: var(--_073f31-color);
	}
	span {
		font-size: 12px;
		color: var(--text-secondary);
	}
}
.normalIcon {
	color: var(--_374151-color);
}
.innerContainer {
	display: flex;
	flex-direction: column;
	margin-left: 5px;
}

.expandedDateHourWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.allDayWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	gap: 40px;
	align-items: center;
}

.allDayContainer {
	display: flex;
	align-items: center;
	flex-direction: row;
	cursor: pointer;
	user-select: none;
	gap: 12px;
	svg {
		margin-left: -3px;
	}
	span {
		line-height: 1;
		font-size: 14px;
		width: max-content;
		color: var(--_374151-color);
	}
}
.expandedContainer {
	display: flex;
	flex-direction: row;
	gap: 12px;
}
