.eventTypeContentContainer {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	width: 95%;
	margin-left: 2.5%;
	gap: 13px;
}
.normalIcon {
	color: var(--_374151-color);
}
.infoIconTop {
	margin-top: -40px;
	color: var(--_374151-color);
}
.columnContainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
	position: relative;
}
.meetLink {
	position: absolute;
	top: 43px;
	left: 0;
	width: max-content;
	color: var(--_10a37f-background);
}
.formTime {
	display: flex;
	align-items: center;
	gap: 5px;
	.innerContainer {
		display: flex;
		flex-direction: column;
	}
	span {
		font-size: 12px;
		margin-left: 10px;
		color: var(--text-secondary);
	}
}
.formCalendar {
	button {
		background: transparent;
		border: none;
		outline: none;
		color: var(--_10a37f-background);
		font-size: 16px;
		font-weight: 600;
		margin-left: 30px;
	}
}



.formMeet {
	display: flex;
	align-items: center;
	gap: 12px;
	svg {
		min-width: 10px;
		min-height: 10px;
		width: 10px;
		height: 10px;
	}
	div svg {
		width: 30px;
		height: 30px;
		margin-right: -13px;
	}
}
.meetButton {
	background: var(--f5-background);
	color: var(--text-color-secondary);
	padding: 8px 14px;
	border-radius: 6px;
	transition: background 0.2s ease-in-out;
	&:hover {
		background-color: var(--_073f31-color);
	}
}
.meetButtonActive {
	background: var(--_10a37f-background);
	color: var(--_073f31-color);
	padding: 8px 14px;
	border-radius: 6px;
	transition: background 0.2s ease-in-out;
	&:hover {
		background-color: var(--_10a37f-background);
	}
}
.formLocation {
	display: flex;
	align-items: center;
	gap: 9px;
	svg {
		min-width: 22px;
		min-height: 22px;
		width: 22px;
		height: 22px;
	}
	button {
		background: var(--border-color);
		padding: 4px 12px;
		border-radius: 4px;
	}
}



.locationContainer {
	display: flex;
	gap: 10px;
	margin-left: 30px;
}

.locationButton {
	display: flex;
	align-items: center;
	padding: 6px 12px;
	border: 1px solid #ddd;
	justify-content: center;
	border-radius: 8px;
	background-color: white;
	font-size: 14px;
	color: #666;
	cursor: pointer;
	font-weight: 600;
	transition:
		background-color 0.3s,
		color 0.3s;
}
.locationButtonPicker {
	display: flex;
	align-items: center;
	padding: 6px 12px;
	min-width: 100px;
	border: 1px solid #ddd;
	justify-content: center;
	border-radius: 8px;
	background-color: white;
	font-size: 14px;
	color: var(--ed-background);
	cursor: pointer;
	font-weight: bold;
	transition:
		background-color 0.3s,
		color 0.3s;
}

.locationButton:hover {
	background-color: #f0f0f0;
}

.locationButtonActive {
	border-color: #d2d2d2;
	color: #333;
}

.locationIcon {
	margin-right: 5px;
}

.locationIconDropdown {
	margin-left: 5px;
}
.descriptionMultiLineInputContainer {
	display: flex;
	align-items: center;
	background-color: var(--f5-background);
	border-radius: 7px;
	padding: 5px;
	align-items: flex-start;
	height: 110px;
	width: 100%;
	box-sizing: border-box;
}
.descriptionContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 12px;
}
.myTasks {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
}
.rejectMeetings {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.rejectMeetings span {
	margin-left: 8px;
}

.additionalOptions {
	margin-top: 16px;
	display: flex;
	margin-left: 30px;
	flex-direction: column;
	gap: 12px;
}

.option {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.option span {
	margin-left: 8px;
}
.messageContainer {
	display: flex;
	flex-direction: column;
}

.availabilityContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 12px;
	flex-direction: row;
}

.messageContainer span {
	font-size: 14px;
	margin-bottom: 4px;
}


.dontBotherWrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
}
.noBotherText {
	font-size: 17px;
	display: flex;
	gap: 6px;
	align-items: center;
	justify-content: flex-start;

	svg {
		margin-bottom: 3px;
	}
}
.silenceSpan {
	font-size: 14px;
}
.descriptionTextarea {
	width: 100%;
	border: none !important;
	background: none !important;
	outline: none !important;
	resize: none;
	overflow: hidden;
	font-size: 14px;
	min-height: 90px;
	color: var(--text-secondary);
	font-family: Arial, sans-serif;
}
.infoWrapper {
	margin-left: -8px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 12px;
	flex-direction: row;
	background: var(--f5-background);
	border-radius: 5px;
	padding: 8px;
	width: calc(100% + 8px);
}
.infoRight {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}
.infoText {
	color: var(--text-secondary);
	font-size: 15px;
}
.howItWorksButton {
	cursor: pointer;
	color: var(--_10a37f-background);
	user-select: none;
	font-weight: 500;
}
.moreinfoButton {
	cursor: pointer;
	user-select: none;
	color: var(--text-secondary);
	padding: 5px 10px;
	font-weight: 500;
}
.infoIconsContainer {
	display: flex;
	margin-top: 8px;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	flex-direction: row;
}
.divisionLine {
	width: calc(100% - 30px);
	height: 2px;
	background-color: var(--f5-background);
	z-index: 1000000;
	margin-left: 30px;
}


.addGuestsContainer {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	gap: 10px;
	height: 35px;
	position: relative;
}
.addGuestsInputWrapper {
	display: flex;
	align-items: center;
	width: 400px;
	min-width: 400px;
	justify-content: flex-start;
	min-height: 35px;
	height: 35px;
	max-height: 35px;
	height: 100%;
	position: relative;
}

.addGuestsInput {
	border: none;
	outline: none;
	padding-left: 10px;
	width: 100%;
	border-radius: 4px;
	background-color: var(--f5-background);
	height: 100%;
	font-size: 16px;
}
.initial {
	font-size: 18px;
	color: white;
	background-color: #4285f4;
	width: 30px;
	height: 30px;
	min-width: 30px;
	min-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.invitedUsersContainer {
	width: 270px;
	min-height: 63px;
	max-height: 100px;
	overflow-y: auto;
	margin-left: 30px;
	display: flex;
	overflow-y: auto;
	overflow-x: hidden;
	flex-direction: column;
	gap: 4px;
}

.invitedUserCard {
	display: flex;
	padding: 0px 8px;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 35px;
	gap: 10px;
	font-size: 15px;
	cursor: pointer;
	user-select: none;
	border-radius: 4px;
	position: relative;
}

.invitedUserCard:hover {
	background: var(--_073f31-color);
}

.closeButtonContainer {
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	visibility: hidden;
}

.invitedUserCard:hover .closeButtonContainer {
	visibility: visible;
}

.closeButton {
	color: var(--color-text);
	font-size: 18px;
	cursor: pointer;
	padding: 2px;
	border-radius: 50%;
}

.closeButton:hover {
	background-color: var(--_10a37f-background);
}

.tooltip {
	visibility: hidden;
	background-color: #666;
	color: #fff;
	text-align: center;
	padding: 4px 8px;
	border-radius: 4px;
	position: absolute;
	top: -12px;
	left: -65px;
	margin-top: 8px;
	white-space: nowrap;
	z-index: 1;
	font-size: 12px;
}

.closeButtonContainer:hover .tooltip {
	visibility: visible;
}

.inputContainer {
	display: flex;
	height: 35px;
	border-radius: 4px 4px 0px 0px;
	width: 400px;
	position: relative;
	align-items: center;
	justify-content: center;
	background: var(--f5-background);
}

.input {
	width: 100%;
	padding: 4px 6px;
	border: none;
	border-bottom: 2px solid #d1d1d1;
	outline: none;
	height: 100%;
	font-size: 14px;
	background: transparent;
	font-weight: 500;
	color: #6e6e6e;
}

.input::placeholder {
	color: #6e6e6e;
}

.underline {
	position: absolute;
	bottom: 0;
	width: 0;
	width: 0%;
	height: 2px;
	background: var(--_10a37f-background);
	transition: width 0.3s ease;
}

.focused {
	border-bottom-color: transparent;
}

.active {
	width: 100%;
}


.iconFacturaGPT{
	stroke: black;
		height: 20px;
		width: 20px;
		margin-right: 0;
}
