.inputCalendarContainer {
	position: relative;
	display: inline-block;
	z-index: 2;
	min-width: 120px;
	max-width: 120px;
}

.inputWrapper {
	display: flex;
	align-items: center;
	background: var(--f5-background);
	border: 1px solid var(--border-color);
	height: 100%;
	border-radius: 4px;
}
.kbWrapper {
	display: flex;
	align-items: center;
	background: var(--_073f31-color);
	border: 1px solid var(--border-color);
	padding: 3px 5px;
	height: 31px !important;
	height: 100%;
	border-radius: 4px;
}

.dateInput {
	border: none;
	outline: none;
	width: 100%;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
	background: transparent;
	color: var(--_374151-color);
}
.kbInput {
	border: none;
	outline: none;
	width: 100%;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	background: transparent;
	color: var(--_374151-color);
}


.calendarPopup {
	position: absolute;
	top: 100%;
	right: 0;
	flex-direction: column;
	z-index: 100;
	background-color: white;
	border: 1px solid var(--border-color);
	border-radius: 4px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-top: 5px;
	z-index: 100000;
}
.miniCalendarWrapper {
	background: var(--f5-background);
	border-radius: 10px;
	padding: 2px;
	overflow: hidden;
}

.date {
	display: flex;
	align-items: center;
	gap: 2px;
	justify-content: space-between;
	b {
		font-size: 12px;
		font-weight: 600;
	}
	div {
		display: flex;
		align-items: center;
		gap: 10px;

		button {
			transition: background 0.2s ease-in-out, transform 0.1s ease-in-out;
            cursor: pointer;
            -webkit-user-select: none;
            user-select: none;
            padding: 3px;
            background: transparent;
            color: var(--_10a37f-background);
            border-radius: 6px;
            border: none;
			&:hover {
				background: var(--_073f31-color);
				transform: scale(1.05);
			}

			&:active {
				background: var(--_10a37f-background);
				transform: scale(0.95);
			}
			svg {
				width: 8px;
				height: 8px;
			}
		}
	}
}
