.noneKanban {
  height: 80vh;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  >div{
    max-width: 600px;

  }

  .header {
    display: inline-flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;

    b {
      font-size: 26px;
      font-weight: 600;
      color: var(--_10a37f-background);

      strong {
        padding: 0px 6px;
        color: var(--_10a37f-background);
        background: var(--_073f31-color);
        margin: 0px 6px;
      }
    }

    p {
      font-size: 23px;
      font-weight: 400;
      line-height: 20px;
      color: var(--_10a37f-background);
    }
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    >div {
      display: inline-flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      text-align: center;

      svg {
        width: 120px;
        height: 120px;
        color: var(--_10a37f-background);
      }

      p {
        font-size: 16px;
        color: var(--black);
        font-weight: 300;
      }
    }
  }
}


@media (max-width: 600px) {
  .noneKanban {
    .container {

      grid-template-columns: 1fr;
      padding: 0px 40px;
    }
  }
}