.previewShareModalContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 20px;
	border-radius: 5px;
	gap: 10px;
	background-color: var(--f5-background);
}
.title {
	font-size: 22px;
	font-weight: 600;
	color: var(--_374151-color);
}
.addGuestsContainer {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	gap: 10px;
	height: 35px;
	position: relative;
}
.addGuestsInputWrapper {
	display: flex;
	align-items: center;
	width: 400px;
	min-width: 400px;
	justify-content: flex-start;
	min-height: 35px;
	height: 35px;
	max-height: 35px;
	height: 100%;
	position: relative;
}

.addGuestsInput {
	border: none;
	outline: none;
	padding-left: 10px;
	width: 100%;
	border-radius: 4px;
	background-color: var(--f5-background);
	height: 100%;
}
.initial {
	font-size: 18px;
	color: white;
	background-color: #4285f4;
	width: 30px;
	height: 30px;
	min-width: 30px;
	min-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.invitedUsersContainer {
	width: 270px;
	min-height: 63px;
	max-height: 100px;
	overflow-y: auto;
	margin-left: 30px;
	display: flex;
	overflow-y: auto;
	overflow-x: hidden;
	flex-direction: column;
	gap: 4px;
}

.invitedUserCard {
	display: flex;
	padding: 0px 8px;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 35px;
	gap: 10px;
	font-size: 15px;
	cursor: pointer;
	user-select: none;
	border-radius: 4px;
	position: relative;
}

.invitedUserCard:hover {
	background: var(--_073f31-color);
}

.closeButtonContainer {
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	visibility: hidden;
}

.invitedUserCard:hover .closeButtonContainer {
	visibility: visible;
}

.closeButton {
	color: var(--color-text);
	font-size: 18px;
	cursor: pointer;
	padding: 2px;
	border-radius: 50%;
}

.closeButton:hover {
	background-color: var(--_10a37f-background);
}

.tooltip {
	visibility: hidden;
	background-color: #666;
	color: #fff;
	text-align: center;
	padding: 4px 8px;
	border-radius: 4px;
	position: absolute;
	top: -12px;
	left: -65px;
	margin-top: 8px;
	white-space: nowrap;
	z-index: 1;
	font-size: 12px;
}

.closeButtonContainer:hover .tooltip {
	visibility: visible;
}

.inputContainer {
	display: flex;
	height: 35px;
	border-radius: 4px 4px 0px 0px;
	width: 400px;
	position: relative;
	align-items: center;
	justify-content: center;
	background: var(--f5-background);
}

.input {
	width: 100%;
	padding: 4px 6px;
	border: none;
	border-bottom: 2px solid #d1d1d1;
	outline: none;
	height: 100%;
	font-size: 14px;
	background: transparent;
	font-weight: 500;
	color: #6e6e6e;
}

.input::placeholder {
	color: #6e6e6e;
}

.underline {
	position: absolute;
	bottom: 0;
	width: 0;
	width: 0%;
	height: 2px;
	background: var(--_10a37f-background);
	transition: width 0.3s ease;
}

.focused {
	border-bottom-color: transparent;
}

.active {
	width: 100%;
}

.inviteButton {
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	color: var(--white-color);
	background: var(--_122521-background);
	cursor: pointer;
	user-select: none;
	transition: background 0.3s ease-in-out;
	&:hover {
		background: var(--ed-background);
	}
}

.disabledInviteButton {
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	background: var(--_073f31-color);
	color: var(--white-color);
	cursor: pointer;
	user-select: none;
	justify-self: flex-end;
}
.fullWR {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
	width: 100%;
}
