.workingHoursSettings {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.dayToggleContainer {
	display: flex;
	gap: 10px;
}

.saveButton {
	background-color: var(--_10a37f-background);
	width: 140px;
	height: 40px;
	border: none;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white-color);
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	transition: background 0.01s ease-in-out;

	&:hover {
		background: var(--_122521-background);
	}
}

.dayToggle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.enabled {
	background-color: var(--_122521-background);
	color: var(--white-color);
}

.disabled {
	background-color: #e0e0e0;
	color: var(--white-color);
}

.settingsContainer {
	display: flex;
	position: relative;
	flex-direction: column;
	gap: 7px;
}

.settingsRow {
	gap: 40px;
	display: flex;
	position: relative;
	color: #666;
	justify-content: space-between;
	align-items: flex-start;
	padding: 5px;
}

.dropdownContainer {
	position: relative;
}

.dropdownButton {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 200px;
	color: #666;
	border-radius: 5px;
	background-color: var(--f5-background);
	padding: 0px 15px;
	height: 45px;
	border: none;
	cursor: pointer;
	gap: 8px;
}

.leftContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 14px;
	font-weight: 600;
	font-size: 14px;

	svg {
		width: 18px;
		height: 18px;
		margin-bottom: 1px;
	}
}

.leftContainerMd {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 14px;
	font-weight: 600;
	font-size: 14px;

	svg {
		width: 20px;
		height: 20px;
		margin-bottom: 1px;
	}
}

.arrow {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #666;
	margin-left: 8px;
	transition: transform 0.2s ease-in-out;
}

.dropdownButton:hover {
	background-color: var(--_073f31-color);
}

.dropdownMenu {
	position: absolute;
	overflow: hidden;
	top: 40px;
	left: 0;
	background-color: var(--f5-background);
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	z-index: 100;
	width: 200px;
}

.dropdownItem {
	padding: 10px;
	display: flex;
	align-items: center;
	color: #666;
	font-size: 14px;
	gap: 14px;
	font-weight: 600;
	cursor: pointer;

	svg {
		width: 18px;
		height: 18px;
		margin-bottom: 1px;
	}
}

.columnTitle {
	color: #333 !important;
	font-size: 11px !important;
	font-weight: 700 !important;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	padding: 0px 15px;
	margin-bottom: -12px;

	svg {
		margin-left: 8px;
		margin-bottom: 1px;
		width: 19px;
		height: 19px;
	}
}

.columnTitleHour {
	color: #333 !important;
	font-size: 11px !important;
	font-weight: 700 !important;
	width: 310px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	padding-left: 110px;
	margin-bottom: -12px;
}

.dropdownItem:hover {
	background-color: var(--_073f31-color);
}

.copyButton {
	position: absolute;
	right: -200px;
	display: flex;
	align-items: center;
	top: 40px;
	cursor: pointer;
	gap: 5px;
	color: var(--_122521-background);
	font-size: 14px;
}


.copyButton:hover {
	text-decoration: underline;
}


.hoursWrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.singleHourContainer {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 75px;
}

.hoursContainer {
	display: flex;
	cursor: pointer;
	user-select: none;
	position: relative;
	align-items: center;
	justify-content: space-between;
	height: 45px;
	width: 200px;
	font-weight: 600;
	color: #666;
	font-size: 14px;
	border-radius: 5px;
	background-color: var(--f5-background);
}

.minusButton {
	position: absolute;
	right: -280px;
	display: flex;
	align-items: center;
	top: 10px;
	cursor: pointer;
	color: #666;
	font-size: 20px;
	width: 20px;
	height: 20px;
	transition: background 0.01s ease-in-out;

	&:hover {
		color: #444;
	}
}

.minusButtonRight {
	position: absolute;
	right: -310px;
	display: flex;
	align-items: center;
	top: 10px;
	cursor: pointer;
	color: #666;
	font-size: 20px;
	width: 20px;
	height: 20px;
	transition: background 0.01s ease-in-out;

	&:hover {
		color: #444;
	}
}

.plusButton {
	position: absolute;
	right: -280px;
	display: flex;
	align-items: center;
	top: 10px;
	cursor: pointer;
	color: #666;
	font-size: 20px;
	width: 20px;
	height: 20px;
	transition: background 0.01s ease-in-out;

	&:hover {
		color: #444;
	}
}

.leftWrapper {
	display: flex;
	align-items: flex-start;
	width: 310px;
	justify-content: space-between;
	gap: 40px;
}


.timeDropdown {
	position: absolute;
	top: 35px;
	left: 0;
	background-color: var(--f5-background);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	z-index: 100;
	display: flex;
	flex-direction: column;
	max-height: 350px;
	overflow: hidden;
	padding: 8px;
}

.timeDropdownRight {
	position: absolute;
	top: 35px;
	right: 0;
	background-color: var(--f5-background);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	z-index: 100;
	display: flex;
	flex-direction: column;
	max-height: 350px;
	overflow: hidden;
	padding: 8px;
}

.period {
	font-weight: bold;
	font-size: 12px;
	display: flex;
	text-align: center;
	margin-bottom: 5px;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;

	div {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		user-select: none;
		width: 40%;
		padding: 2px;
		border-radius: 2px;
		background: var(--f5-background);

		&:hover {
			background: var(--_073f31-color);
		}
	}
}

.timeDropdownItem {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	width: 50px;
	text-align: center;
	max-height: 100px;
	overflow-y: auto;

	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none;
	scrollbar-width: none;
}

.dropdownItem {
	padding: 10px;
	cursor: pointer;
}

.hoursDropdownItem {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	margin: 1px;
}

.hoursDropdownItem:hover {
	background-color: var(--_073f31-color);
}

.dropdownItem:hover {
	background-color: var(--_073f31-color);
}