.BtnOPtionsMessage {
    display: flex;
    align-items: center;
    gap: 10px;
  button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    outline: none;
    border: none;
    position: relative;
    border: 1px solid #00000036;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    min-width: 30px;
    height: 30px;
    font-weight: 500;
    &:hover{
      svg{
        fill: var(--_10a37f-background);
        color: var(--_10a37f-background);
      }
    }
    svg{
      height: 18px;
      width: 18px;
      fill: var(--_292d32-color);
      color: var(--_292d32-color);
    }
    .pinnedIconSvg{
      fill: var(--_10a37f-background);
      color: var(--_10a37f-background);
    }
  }
}
