.container {
  width: 90%;
  text-align: center;
}

.title {
  font-size: clamp(20px, 5vw, 40px) !important; 
  color: var(--_10a37f-background);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 300;
}


.subtitle {
  font-size: clamp(15px, 3vw, 21px) !important;
  color: #222222 !important;
  font-weight: 600;
  margin: 0;
}

.sliderWrapper {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  position: relative; 
  z-index: 2; 
  padding: 0px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: var(--white-color);
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
  box-shadow: 0 0 4px var(--_00000033-background);
  margin-right: 50px;
  box-sizing: border-box;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: var(--white-color);
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
  box-sizing: border-box;
}

.labels {
  position: relative;
  margin-top: 10px;
  height: 40px;
}

.mark {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 15px;
  transform: translateX(-50%);
}


.label {
  color: #555;
  white-space: nowrap;
  font-size: 8px;
  margin-top: -20px;
}

.infoContainer {
  margin: 20px 0;
  h3,
  p {
    margin: 0;
  }
  p {
    overflow: hidden;
    color: var(--_10a37f-background);
    text-align: center;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  h3 {
    color: var(--_10a37f-background);
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; 
    span {
      color: var(--_10a37f-background);
      font-family: Inter;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; 
    }
  }
}
