.modalContainer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--F5F5F538-background);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
}
.upgradePlanContainer {
  background: var(--white-color);
  border-radius: 8px;
  width: 360px;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  font-family: "Inter", sans-serif;
  box-shadow: 0 4px 15px var(--_00000033-background);
  transform: scale(1);
  animation: scaleUp 300ms ease-out forwards;
  overflow-y: scroll;
  .upgradeContainer{
    overflow-y: scroll;
    display: flex;
    padding: 20px 24px;
    flex-direction: column;
  }
}

.scaleDown {
  animation: scaleDown 300ms ease-in forwards;
  -webkit-animation: scaleDown 300ms ease-in forwards;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.fadeOut {
  opacity: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  align-items: center;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #0c1421;
  position: relative;
}

.input {
  margin-top: 8px;
  display: flex;
  width: 100%;
  max-width: 388px;
  padding: 10px 14px;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  color: #8897ad;
  border: none !important;
  outline: none !important;
  background-color: var(--f5-background);
  height: 48px;
  box-sizing: border-box;
}

.closeButton {
  margin-top: 6px;
  cursor: pointer;
  user-select: none;
}

.passwordRequirements {
  position: absolute;
  top: 16px;
  left: 0;
  color: #8897ad;
  font-size: 9px;
}

.signInButton {
  width: 100%;
  max-width: 388px;
  background-color: #162d3a;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  /* margin-bottom: 28px; */
  display: flex;
  min-height: 48px;
  align-items: center;
  justify-content: center;
}
