.TagsLandingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}

.tagLanding {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.tag {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: var(--white-color);
  width: fit-content;
  padding: 10px;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-radius: 99px;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  -ms-border-radius: 99px;
  -o-border-radius: 99px;
  max-width: 500px;
  color: #676767;
  justify-content: center;
  font-size: 14px;
  box-sizing: border-box;
  img {
    width: 20px;
    height: 20px;
  }
  svg {
    width: 15px;
    height: 15px;
    min-width: 15px;

  }
}

@media (max-width: 940px) {
  .tagLanding {
    flex-direction: column;
    width: 100%;
  }
  .tag {
    width: 100%;
  }
}
