.qrContainer{

    width: 100%;
    margin: 20px auto;
  }

  .DocSection{
    p,.labelName{
      color:var(--black) !important;
      margin: 0;
      font-weight: 500;
      font-size: 15px;
    }
  }
.expirationDateContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
  .expirationDateContent{
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 500;
    color: var(--black);
    display: inline-block;
    height: 30px;
    display: flex;
    align-items: center;

  }
