.headerCreateNote{
    display: flex;
    align-items: center;
    gap: 5px;

}
.tag {
  text-align: center;
  color: var(--white-color);
  width: fit-content;
  border-radius: 999px;
  display: block;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  cursor: pointer;
}

.tagWhite {
    background-color: var(--white-color);
  }
  .tagRed {
    background-color: var(--f2c6c2-background);
  }
  .tagOrange {
    background-color: var(--f2cfc2-background);
  }
  .tagYellow {
    background-color: var(--f2e3c2-background);
  }
  .tagGreen {
    background-color: var(--_c2f2d3-background);
  }
  .tagBlue {
    background-color: var(--c2d8f2-background);
  }
  .tagViolet {
    background-color: var(--d7c5f6-background);
  }
  .tagPink {
    background-color: var(--f0c2f2-background);
  }
