.menuOptions {
    flex-direction: column;
    gap: 10px;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    top: 23px;
    z-index: 999;
    padding: 4px;
    border-radius: 8px;
    background: var(--f5-background);
    box-shadow: 0 2px 10px var(--_00000033-background);

    li {
        border-radius: 10px;
        background: var(--white-color);
        padding: 8px 16px;
        cursor: pointer;
        text-align: left;
        font-size: 14px;
        color: var(--_374151-color);
        border-radius: 4px;

        &:hover {
            background-color: var(--f5-background);
        }

    }
}



.groupTitle {
    font-size: 12px;
    padding: 8px;
    color: var(--black);
    background-color: var(--f5-background);
}



.chatMenu {
    background: var(--white-color);
    height: 100%;
    width: 100%;
    min-width: 200px;
    z-index: 1;
    display: flex;
    flex-direction: column;

    .agentsContainer {
        height: 100%;
        box-sizing: border-box;
    }

    .chatsContainer {
        height: calc(100% - 120px);
        overflow-y: auto;
        box-sizing: border-box;
        padding-bottom: 120px; /* Espacio para el contenedor fijo */

        &::-webkit-scrollbar {
            display: none;
        }

        h3 {
            font-weight: 600;
            margin: 0;
            font-size: 10px;
            color: var(--black);
        }

        span {
            font-weight: 600;
            margin: 0;
            font-size: 10px;
            color: var(--_9b-color);
            padding: 5px 0;
            text-align: center;
        }

        .noFilesContainer {

            h3,
            h4 {
                max-width: 95%;
                font-size: 15px;
                text-align: center;
                font-weight: 600;
                color: var(--_67-color);
            }
        }

        ul {
            padding-left: 0px;
            margin: 2px 0px;
            display: inline-flex;
            flex-direction: column;
            gap: 2px;
            width: 100%;

            li {
                list-style: none;
                position: relative;
                padding: 8px;
                font-size: 12px;
                border-radius: 12px;
                -webkit-border-radius: 12px;
                -moz-border-radius: 12px;
                -ms-border-radius: 12px;
                -o-border-radius: 12px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 5px;
                height: 44px;

                &:hover {
                    background-color: var(--db-background);

                    .pinnedIcon {
                        display: none;

                    }

                    .chatMenuSettings {
                        display: block;
                    }
                }

                input {
                    background-color: transparent;
                    border: none;
                    outline: none;
                }

                .selectedChat {
                    background: transparent;
                    font-weight: 600;
                    font-size: 10px;
                    color: var(--_9b-color);
                }
            }

            .icon {
                opacity: 0;
            }

            .moreButton {
                display: none;
                border: none;
                background: none;
                padding: 4px;
                cursor: pointer;
                opacity: 0;
                align-items: center;
                justify-content: center;
                transition: opacity 0.2s ease-in-out;
                margin-left: auto;

                img {
                    transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
                    width: 18px;
                    height: 18px;
                }
            }

            li:hover .moreButton {
                opacity: 0.7;
                display: flex;
            }

            .moreButton:hover {
                opacity: 1 !important;
                background: var(--ed-background);
                border-radius: 4px;
            }

            li:hover .icon {
                opacity: 1;
            }

            .agentInfo {
                display: flex;
                align-items: center;
                gap: 5px;
                min-width: 70%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                .agentNameQuantityConversations {
                    display: flex;
                    flex-direction: column;

                    span {
                        padding: 0;
                        text-align: left;
                    }
                }
            }

            .liSinHover {
                background: transparent;
                padding: 0px;
                border-radius: 0px;

                &:hover {
                    background: transparent;
                }
            }

            .pinnedIcon {
                display: block;


                svg {
                    fill: var(--_292d32-color);
                    color: var(--_292d32-color);
                    height: 15px;
                    width: 15px;
                }

                .pinnedIconSvg {
                    fill: var(--_10a37f-background);
                    color: var(--_10a37f-background);
                }
            }

            img {
                width: 32px;
                height: 32px;
                border-radius: 999px;
                -webkit-border-radius: 999px;
                -moz-border-radius: 999px;
                -ms-border-radius: 999px;
                -o-border-radius: 999px;
            }
        }

        .active {
            background-color: var(--db-background);
        }
    }
}

@media (width <=768px) {
    .chatMenu {
        .chatsContainer {
            height: 65vh;
        }
    }

    .searchInputWrapper {
        display: flex;
        align-items: center;
        background: var(--white-color);
        height: 36px;
        min-height: 36px;
        border: 1px solid var(--ed-background);
        border-radius: 8px;
        padding: 0px 9px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        width: 100%;

        .searchIcon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            color: var(--_67-color);
        }

        .searchInput {
            flex: 1;
            padding: 8px;
            border: none;
            background: transparent;
            font-size: 14px;
            outline: none;
            width: 100%;

            &::placeholder {
                color: var(--_67-color);
            }
        }
    }
}

@media (width <=500px) {
    .chatMenu {
        display: none;
    }
}

.chatMenuSettings {
    display: none;
    position: absolute;
    top: 20px;
    right: 0px;

    button {
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
    }

    .verticalDots {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
}





.shadowContainer {
    background-color: var(--_00000033-background);
    transition: all 300ms;
    margin-left: 6px;
    width: 15px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    position: absolute;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    /* border-radius: 4px; */
    transform: translate(-50%, -50%);
    opacity: 0;
}





.noChats {
    flex: 1 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--_374151-color);
    gap: 10px;
    font-weight: 600;
    justify-content: center;
    padding-top: 0;
    height: 93%;
    text-align: center;
    border: 2px dashed var(--ed-background);

    p {
        margin: 0;
        font-size: 14px;
        max-width: 95%;
        font-size: 15px;
        text-align: center;
        font-weight: 600;
        color: var(--_67-color);
    }
}





.noFilesContainer {
    flex: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed var(--ed-background);
    color: var(--_67-color);
    gap: 10px;
    font-weight: 600;
    cursor: grab;
    height: 100%;

    h3,
    h4 {
        max-width: 85%;
        font-size: 26px;
        text-align: center;
        font-weight: 600;
        color: var(--_67-color);
    }

    svg {
        max-width: 110px;
        height: 110px;
        width: 70px;
        color: var(--ed-background) !important;
    }
}



.asideBar {
    background: linear-gradient(0deg, var(--f5f5f538-background) 21%, var(--f5-background) 100%);
    height: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 2;
    transition: left 0.3s ease;
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    -ms-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    position: initial;
    left: 0;
    flex: 20;
    padding: 4px 6px 0px;
}

.mobileMenu {
    position: absolute;
    width: 100vw;
}

.searchContainerL {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 4px 0px;
    cursor: pointer;

    img {
        transition: filter 0.1s ease;
        -webkit-transition: filter 0.1s ease;
        -moz-transition: filter 0.1s ease;
        -ms-transition: filter 0.1s ease;
        -o-transition: filter 0.1s ease;
    }
}



.searchIconsWrappers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background: var(--db-background);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 3px;
    font-size: 10px;
    color: #696969;
}






.goToAgents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 4px;

    &:hover {
        .chatMenuSettings {
            display: block;
        }

        .pinnedIcon {
            display: none;
        }

        .selectedAgentContainer {
            padding-right: 12px;
        }
    }

    .selectedAgentContainer {
        position: relative;
        display: flex;
        align-items: center;
        gap: 5px;

        .pinnedIcon {
            position: absolute;
            right: 0;
            top: 0;
        }   
    }

    img {
        height: 25px;
        width: 25px;
        border-radius: 999px;
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
        -ms-border-radius: 999px;
        -o-border-radius: 999px;
    }
    

    .verticalDots {
        height: 20px;
        width: 20px;
        margin-right: -12px;
    }
}






.dotsWrapperHover {}

.dotsWrapperHover:hover {
    .shadowContainer {
        opacity: 1;
    }
}













.dotsWrapperHoverHorizontal {}

.dotsWrapperHoverHorizontal:hover {
    .shadowContainerHorizontal {
        opacity: 1;
    }
}


.shadowContainerHorizontal {
    background-color: var(--_00000033-background);
    transition: all 300ms;
    margin-top: -1.2px;
    width: 12px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    position: absolute;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}












.communitiContainer {
    flex: 1;
    position: relative;
    width: 100%;
}

.communiti {
    all: unset;
    display: flex;
    align-items: center;
    background-color: var(--_c2f2d33b-background);
    color: var(--_10a37f-background);
    position: relative;
    bottom: 0;
    /* margin: 0px 0px 58px 0px; */
    border-radius: 9px;
    padding: 6px 6px;
    flex: 1 1;
    font-size: 12px;
    font-weight: bold;
    gap: 8px;
    width: 90%;
    cursor: pointer;

    svg {
        width: 22px;
        fill: var(--_10a37f-background);
    }

    &:hover {
        background-color: var(--f5-background);
    }
}

/* .imageHover {
    display: flex;
    align-items: center;
    background-color: var(--_073f31-color);
    color: var(--_10a37f-background);
    position: relative;
    bottom: 0;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 2px 6px;
    flex: 1 1;
    font-size: 12px;
    font-weight: bold;
    gap: 8px;
    width: 90%;
    cursor: pointer;

    svg {
        color: var(--_10a37f-background);
        fill: var(--_10a37f-background);
        width: 22px;
        padding: 0px
    }

    img {
        width: 22px;
        padding: 0px
    }

    &:hover {
        background-color: var(--f5-background);
    }
} */

/* .imageHover:hover {
    .shadowContainerSearch {
      opacity: 1;
    }
  }
  
.shadowContainerSearch{
    background-color: var(--_00000033-background);
    transition: all 300ms;
    width: 29px;
    height: 30px;
    left: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    position: absolute;
    top: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
  } */



.count {
    position: absolute;
    background-color: var(--_292d32-color);
    color: var(--white-color);
    padding: 2px 3px;
    border-radius: 6px;
    top: -2px;
    right: 0px;
    font-size: 7px;
}

.newChatContainer {
    position: fixed;
    bottom: 10px;
    left: 58px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    max-width: 42%;
    @media (width >=850px) {
        max-width: 43%;
    }
    @media (width >=950px) {
        max-width: 44%;
    }
    @media (width >=1100px) {
        max-width: 45%;
    }
    @media (width <=768px) {
        position: static;
        left: 0;
        padding: 14px;
        max-width: 100%;
    }
}



.optionsPopup {
  position: fixed;
  background: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px var(--_00000033-background);
  width: 115px;
  z-index: 9999;
  padding: 4px;

}
.optionsPopup {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.optionsPopup.visible {
  opacity: 1;
  pointer-events: auto;
}


.optionItem {
  width: 100%;
  padding: 8px 16px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  color: var(--_374151-color);
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.optionItem:hover {
  background-color: var(--f5-background);
}