.emailField {
  width: 204px;
}

.emailIcon svg {
  width: 100%;
  height: 100%;
  fill: none;
  preserveAspectRatio: none;
  viewBox: 0 0 14 14;
}

.emailIcon path {
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.16667;
}