.phoneField {
  width: 145px;
}

.phoneIcon svg {
  width: 100%;
  height: 100%;
  fill: none;
  preserveAspectRatio: none;
  viewBox: 0 0 14 14;
}

.phoneIcon path {
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.16667;
}