.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: fit-content;
    max-width: fit-content;
  }
  @media (width<=768px) {
    .pagination{
      margin-bottom: 10px; 
    }
  }
  

  .paginationNumbers{
    display: flex;
    gap: 10px;
    align-items: center;
  }
 
  .active{
    background-color: var(--_10a37e6a-background);
  }



  