.inputContainer input[type="file"] {
  display: none;
}

.inputContainer {
  width: 100%;
  height: 100%;
}

.inputContainer label {
  width: 100%;
  color: var(--_67-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: var(--white-color);
  border-radius: 8px;
  padding: 10px 10px;
  gap: 6px;

  p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--black);
  }
}