@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.content::-webkit-scrollbar {
  display: none;
}

.content {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* max-height: 80vh; */
  background-color: var(--f5-background);
  border-radius: 12px;
  z-index: 999;
  overflow:hidden;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 100%;
  overflow: hidden;
}

.formAutomateContainer {
  overflow-x: hidden;
  border: 1px solid var(--db-background);
  padding: 0px 12px;
  border-radius: 8px;
  background: var(--white-color);
  overflow-y: auto;
  margin-bottom: 1px;
  height: 100%;
  /* height: 80vh;
  display: grid; */
  grid-template-rows: 1fr 40px;
  margin: 0px 6px 6px 0px;
  >div{
    overflow-y: auto;
    height: calc(100% - 65px);
  }
  select {
    padding: 0;
  }
}

.formAutomateContainer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.formAutomateContainer::-webkit-scrollbar-thumb {
  background-color: var(--db-background);
  border-radius: 12px;
}

.formAutomateContainer::-webkit-scrollbar-track {
  background: var(--white-color);
}

.body {
  display: grid;
  grid-template-columns: 260px 2fr;
  background: var(--f5-background);
  overflow: hidden;
  border-radius: 0px 0px 12px 12px;
  height: 100%;
}

.leftContainer {
  background: var(--f5-background);
  padding: 0px 10px;
  overflow-y: auto;
  height:100%;
}

.leftContainer::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.leftContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 12px;
}

.leftContainer::-webkit-scrollbar-track {
  background: transparent;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

@media screen and (max-width: 900px) {
  .body {
    grid-template-columns: 70px 2fr;
  }

  .leftContainer {

    [class^="data_contain"] {
      [class^="icon"]{
        width: 55px;
        height: 55px;
        img {
          width: 50px;
          height: 50px;
        }
      }
      [class^="title"]{
        display: none;
        opacity: 0;
        visibility: hidden;
      }
    }

    [class^="dropdownContainer"] {
      display: none;
    }

    [class^="searchContainer"] {
      display: none !important;
    }

    p {
      display: none;
    }
  }
}




.buttonsContainer {
  display: flex;
  gap: 22px;
  background-color: var(--f5-background);
  justify-content: flex-end;
  align-items: center;
}


.headerLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--_292d32-color);
  font-size: 20px;
  font-weight: 600;
  gap: 18px;

  h2 {
    font-size: 22px;
    font-weight: 600;
    color: var(--black);
  }
}

.closeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 31px;
  cursor: pointer;
  border-radius: 4px;
  background: var(--db-background);
  user-select: none;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 23px;
  height: 23px;
  cursor: pointer;
  user-select: none;
  background: var(--_10a37f var(--_10a37f-border)-background);
}


.footer {
  width: 100%;
  height: fit-content !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* max-width: 500px; */
  gap: 6px;
  background-color: var(--f5-background);
  box-sizing: border-box;
  padding: 10px 0px;
  margin-top: 10px;
  bottom: 15px;
  border-radius: 10px;
  font-size: 13px;
  text-align: center;
  @media (width<=528px) {
    & {
      padding: 30px 10px 22px 10px;
    }
  }

  svg {
    width: 12px;
    height: 12px;
    margin-top: -1px;
  }
}

.loaderTestConnection {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loaderTestConnection::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 2px solid var(--_10a37f-border);
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.moreInfoContainer{
  background-color: var(--f5-background);
  transition: background-color 0.3s ease;
  border-radius: 999px;
  cursor: pointer;

  &:hover {
  stroke: #8f8f8f;

  }
}

