.DetailsBillInputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  input {
    outline: none;
    border: none;
    background-color: var(--f5-background);
    color: var(--_67-color);
    padding: 12px;
    box-sizing: border-box;
  }
  input::placeholder {
    color: var(--_67-color);
  }
}
.row {
  width: 100%;
  font-weight: 500;
  color: var(--_292d32-color);
}
.containerColumn {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
  > div {
    flex: 1;
    box-sizing: border-box;
    font-weight: 500;
  color: var(--_292d32-color);
  }
}
.defaultAddress {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  span {
    color: #2ebc89 !important;
  }
}

.iconToggle{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}