.leftPanel {
    background: var(--white-color);
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.navTabs {
    display: flex;
    gap: 10px;

    .buttonsContainer {
        overflow: scroll;
        white-space: nowrap;
        /* scrollbar-width: none; 
  -ms-overflow-style: none;  */
    }

    /* .buttonsContainer::-webkit-scrollbar {
  display: none; 
} */
}

.firstPart {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

@media (width<=500px) {
    .navTabs {
        flex-direction: column;
    }

    .firstPart {
        display: flex;
        flex-direction: column;
    }

    .contactStats {
        flex-direction: column;
    }
}

.navTab {
    border: none;
    background: none;
    color: #d0d0d0;
    font-size: 20px;
    white-space: nowrap;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    font-weight: bold;
    transition: all 0.2s ease;
}

.navTab:hover {
    color: var(--1E293B-color);
}

.navTab.active {
    color: var(--1e293b-color);
}

.searchContainer {
    display: flex;
}

.searchSection {
    width: 100%;
}

.searchBar {
    position: relative;
    height: 36px;
    display: flex;
    align-items: center;
    /* padding: 0 10px; */
    border:1px solid var(--db-background) ;
    border-radius: 6px;
    /* width: 100%; */
    padding: 0px 5px;
    gap: 5px;

    svg {
        width: 24px;
        height: 24px;
    }
}

.searchInput {
    outline: none;
    width: 100%;
    padding: 0px 10px;
    border: none;
    font-size: 12px;
    background: transparent;
}



.searchIcon {
    color: var(--_9b-color);
    font-size: 12px;
    font-weight: 500;
    background: var(--db-background);
    border-radius: 4px;
    font-family: monospace;
    width: 26px;
    /* min-width: 24px; */
    height: 20px;
    /* min-height: 20px; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.contentSection {
    /* border: 1px solid #e2e8f0; */
    border-radius: 12px;
    /* overflow: hidden; */
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background: var(--f5-background);
    border-bottom: 1px solid var(--db-background);
    margin-top: 10px;

}


.sectionTitle {
    font-size: 13px;
    font-weight: 500;
    color: #828589;
}




.checkbox {
    margin-right: 12px;
    width: 16px;
    height: 16px;
    accent-color: var(var(--_10a37f-background));
}


.documentIcon {

    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 24px;
        height: 24px;
    }
}

.contactInfo {
    flex: 1 1;
}

.documentId {
    font-weight: 600;
    margin-right: 8px;
    color: var(--1e293b-color);
}

.statusBadge {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 9px;
    font-weight: 600;
    margin-right: 8px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    background-color: var(--_10a37f-background);
    color: var(--white-color);
}

.statusDots {
    display: flex;
    align-items: center;
    gap: 4px;

    .statusDot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #cbd5e1;

        &:nth-child(2) {
            background-color: #94a3b8;
        }

        &:nth-child(3) {
            background-color: #64748b;
        }

        &:nth-child(4) {
            background-color: #475569;
        }

        &:nth-child(5) {
            background-color: #334155;
        }
    }
}

.status-approved {
    background: var(--dcfce7-background);
    color: var(--3cb077-background);
}

.documentMeta,
.contactStats {
    display: flex;
    font-size: 12px;
    color: var(--_67-color);
    margin-top: 4px;
    line-height: 1.4;
}

.documentMeta {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .documentMetaTop,
    .documentMetaBottom {
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: flex-end;
    }

    .documentMetaTop {
        span {
            font-weight: 500;
            font-size: 14px;
            display: inline-flex;
            align-items: center;
            gap: 4px;
        }
    }

    .documentMetaBottom {
        span {
            font-weight: 500;
            font-size: 12px;
        }
    }

}

.pendingDot {
    color: var(--ff5500-color);

    font-weight: bold;
}

.contactRightColumn {
    font-weight: 500;
    color: var(--1e293b-color);
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;

    .thirdPart {
        width: 10px;
    }
}

.contactAmount {
    display: flex;
    flex-direction: column;
    gap: 5px;

    span {
        white-space: nowrap;
        color: #6e6e80
    }

}

.contactAvatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--_67-color);

    svg {
        width: 42px;
        height: 42px;
    }

    img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
    }
}


.overdueText {
    color: var(--red-color);
    font-weight: 600;
}


.messageDafault {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--black);
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    padding: 14px 10px;

    svg {
        margin: -40px 0px;
    }

    .titleMessage {
        font-size: 18px;
        font-weight: bold;
        margin: 0px 0px;
    }

    .descriptionMessage {
        margin: 10px 0px;
        font-size: 15px;
    }
}

.LeftPanelContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.sectionHeaderContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    top: 0;
    padding-top: 15px;
    background: var(--white-color);
    padding-top: 15px;
    z-index: 1;
}

.contactItem {
    display: flex;
    padding: 12px 0px;
    border-bottom: 1px solid var(--db-background);
}

.teamLeftColumn {
    display: flex;

    .textContainer {
        .topPart {
            display: flex;
            gap: 5px;
            align-items: center;
            color: var(--_292d32-color);

            button {
                border: none;
                background: #FFCF63;
                background-color: #FFCF63;
                border-radius: 4px;
                color: white;
                font-size: 12px;
            }
        }

        .bottomPart {
            display: flex;
            gap: 5px;
            font-size: 12px;
            color: var(--_67-color);
            margin-top: 4px;
            line-height: 1.4;
            align-items: center;

            .clearColor {
                color: #b5b5b5;
            }

            .littlePoint {
                padding: 1.3px;
                border-radius: 100%;
                background-color: var(--_67-color);
            }
        }
    }
}

.btnContactInfoContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    justify-content: center;
    pointer-events: auto;

    button {
        border-radius: 999px;

        svg {
            color: var(--_9B-color);
            fill: var(--_9B-color);
        }

        .activeBtn {
            color: var(--_10a37f-border);
            fill: var(--_10a37f-border);
        }
    }

    svg {
        width: 20px;
        height: 20px;
    }
}

.progressWrapper {
    /* margin: 16px 0; */
}

.progressBar {
    width: 100%;
    height: 10px;
    background-color: #c9c9cc;
    border: 1px solid var(--db-background);
    overflow: hidden;
    border-radius: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
}

.progressFill {
    height: 100%;
    background-color: var(--_10a37f-background);
    transition: width 0.3s ease;
    border-radius: 2px;
}

.documentsRoutes {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 8px 0px;

    svg {
        fill: #b3b3b3
    }

    .firstSpan {
        color: #b3b3b3;
        display:flex;
        gap:10px;

    }
}
.breadcrumbs {
    display: flex;
    gap:10px;
}

.pathContainer{
    display: flex;
    gap: 10px;
}

.documentsDontFound {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 25px;

    span {}

    svg {}
}

.documentItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    gap:10px;

    .left {
        display: flex;
        align-items: center;
        gap: 15px;
        min-width: 25%;

        .textContainer {
            display: flex;
            flex-direction: column;

            .notFolderContainer {
                display: flex;
                flex-direction: column;

                span {
                    font-size: 12px;
                }

                .firstSpan {
                    color: var(--_67-color)
                }
    
                .secondSpan {
                    color: #c2c2c2
                }
            }
            }


    }


    .right {
        display: flex;
        align-items: center;
        gap: 5ps;

        .firstPart {
            color: #9FA3A9;
            align-items: center;

            .textContainer {
                display: flex;
                flex-direction: column;
                font-size: 12px;
                align-items: end;
                color: #667085;

                .clear {
                    color: #9fa3a9;
                }
            }

            .lessSeparator {
                padding: 0px 10px;
                color: #667085;
            }

            .pointSeparator {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #667085;
                /* margin: 0px 5px; */
                /* margin-left:5px; */

            }

            .pointsSeparator {
                padding: 0px 5px;
                color: #667085;
            }

            .barSeparator {
                color: #667085;
                padding: 0px 10px;
                border-right: 1px solid #9fa3a9;
                border-left: 1px solid #9fa3a9;
                height: 20px;

            }
        }

        .secondtPart {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .thirdPart {
            width: 10px;
        }
    }
}

.incomeItemContainer {
    padding: 0px 15px;
}

.incomeItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid var(--db-background);

    .left {
        span {
            font-weight: 500;
        }

    }


    .right {
        display: flex;
        align-items: center;
        gap: 5ps;

        .firstPart {
            color: #9FA3A9;
            align-items: center;

            .textContainer {
                display: flex;
                flex-direction: column;
                font-size: 12px;
                align-items: end;
                color: #667085;

                .clear {
                    color: #9fa3a9;
                }
            }

            .lessSeparator {
                padding: 0px 10px;
                color: #667085;
            }

            .pointSeparator {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #667085;
                /* margin: 0px 5px; */
                /* margin-left:5px; */

            }

            .pointsSeparator {
                padding: 0px 5px;
                color: #667085;
            }

            .barSeparator {
                color: #667085;
                padding: 0px 10px;
                border-right: 1px solid #9fa3a9;
                border-left: 1px solid #9fa3a9;
                height: 20px;

            }
        }

        .secondtPart {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .thirdPart {
            width: 10px;
        }
    }
}

.typeContact {
    display: flex;
    background-color: var(--white-color);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 12px 0px 0px 0px;
    gap: 20px;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    overflow-x: auto;

    button {
        background-color: transparent;
        cursor: pointer;
        color: var(--_67-color);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        /* border: 1px solid transparent !important; */
        border: none !important;
        /* flex: 1; */
        background-color: transparent;
        max-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        gap: 10px;
        padding: 5px 10px;
    }

    .selected {
        background-color: var(--gray-100);
        /* color: var(--black); */
        border-radius: 8px;
        border: none !important;
        box-shadow:
            0px 0px 2px 0px var(--_00000033-background),
            0px 0px 0px 0px var(--_00000033-background),
            0px 0px 0px 0px var(--_00000033-background);
    }
}

.statusColor {
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.pointColor {
    /* height: 2px;
    width: 2px; */
    padding: 3.5px;
    border-radius: 100%;
    background-color: var(--_10a37f-background);
}

.teamRightColumn {
    font-weight: 500;
    color: var(--1e293b-color);
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;

    .firstPart {
        display: flex;
        flex-direction: column;

        .topPart {
            display: flex;
            justify-content: end;
            gap: 15px;
            align-items: center;
            color: #8C90A2;
        }

        .bottomPart {
            display: flex;
            gap: 5px;
            align-items: center;
            color: #acacac;

            .blackColor {
                color: var(--_67-color)
            }

            .pointColor {
                color: var(--_67-color)
            }

            button {
                border: none;
                background: #71717a;
                border-radius: 4px;
                color: white;
                font-size: 12px;
            }
        }
    }

    .thirdPart {
        width: 10px;
    }
}

.teamItem {
    display: flex;
    padding: 12px 0px;
    border-bottom: 1px solid var(--db-background);
    justify-content: space-between;
}

.imageProfileDefault {
    padding: 20px;
    background-color: var(--_10a37f-background);
    border-radius: 100%;
}

.filesContainer {
    display: flex;
    flex-direction: column;
    padding: 4px;
    box-sizing: border-box;
    /* height: calc(100vh - 78px); */
    justify-content: space-between;
    .fileListt {
      position: relative;
      display: flex !important;
      flex-direction: column !important;
    }
  }

  .noFilesContainerMessage {
    flex: 1;
    border: 2px dashed var(--ed-background);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--_374151-color);
    gap: 10px;
    font-weight: 600;
    cursor: grab;
    h3,
    h4 {
      max-width: 85%;
      font-size: 14px;
      text-align: center;
      font-weight: 600;
      color: var(--_374151-color);
    }
    svg {
      max-width: 110px;
      height: 110px;
      width: 70px;
      color: var(--ed-background) !important;
    }
  }
  .noFilesContainerMessage {
    justify-content: center;
    padding-top: 0;
    h4 {
      color: var(--_67-color);
      margin: 0;
    }
  }

  .black{
    color:var(--black)
  }

.notFolderContainer{
    display: flex;
    flex-direction: column;
    
    span {
        font-size: 12px;
    }

    .firstSpan {
        color: var(--_67-color)
    }

    .secondSpan {
        color: #c2c2c2
    }
}