.selectAgentContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0px 10px 10px;
  background: var(--ed-background);
  color: var(--_67-color);
  padding: 0px auto 10px;
  border-radius: 10px;

  p {
    font-size: 12px;
    margin: 0px 10px;
  }

  .agentInfo {
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    min-width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 8px;

    &:hover {
      background-color: var(--f5-background);
    }
  }

  .leftSideSelectAgent {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .selectAgent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;

    p {
      margin: 0;
      display: flex;
      flex-direction: column;

    }

    span {
      font-weight: 600;
      margin: 0;
      font-size: 10px;
      color: var(--_9b-color);
      padding: 0px 0;
      text-align: center;
    }
  }

  img {
    width: 26px;
    height: 26px;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
  }
}
.searchIconsWrappers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: var(--db-background);
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
}

.headerFilter{
  display: flex
;
    flex-direction: column;
    padding: 8px 16px;
    gap: 10px;
}