.section {
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.container {}


.breadcrumbs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0px;
    margin: 0px;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 20px;
        min-height: 20px;
        width: 20px;
        height: 20px;
        border-radius: 6px;
        background: var(--f5-background);
    }

    .arrow {
        font-size: 14px;
    }

    .b {
        font: 14px;
    }
}


.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    margin: 0px;

    .item {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 0px;
        margin: 0px;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .b {
            font-size: 14px;
        }
    }
}

.search {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: var(--f5-background);
    padding: 10px;
    border-radius: 8px;
    margin: 0px 10px 4px;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input {
        background: transparent;
        border: none;
        outline: none;
        font-size: 14px;
        font-weight: 500;
        color: var(--black);
        width: 100%;
    }

    div {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 12px;
        line-height: 12px;
        font-weight: 500;
        min-width: 20px;
        min-height: 20px;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        background: var(--white-color);
        justify-content: center;
    }
}


.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    overflow-x: scroll;
    padding: 6px;

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--f5-background);
        padding: 2px 4px;
        border-radius: 10px;
        gap: 10px;
        cursor: pointer;

        svg {
            width: 12px;
            height: 12px;
        }
    }
}



.operators {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    margin: 0px;

    >li {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 2px 10px;

        .item {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .icon {
                width: 30px;
                height: 30px;
                min-width: 30px;
                min-height: 30px;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 5px;

                b {
                    font-size: 14px;
                    font-weight: 600;
                }

                p {
                    font-size: 12px;
                    margin: 0px;
                }
            }
        }


        .list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0px;

            >li {
                display: flex;
                flex-direction: row;
                gap: 10px;
                border: 1px solid var(--f5-background);
                border-radius: 10px;
                padding: 10px;

                .icon {
                    width: 30px;
                    height: 30px;
                    min-width: 30px;
                    min-height: 30px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    b {
                        font-size: 14px;
                        font-weight: 600;
                    }

                    p {
                        font-size: 12px;
                        margin: 0px;
                    }

                    .vars {
                        display: flex;
                        flex-direction: row;
                        gap: 6px;
                        flex-wrap: wrap;

                        >div {
                            padding: 5px 10px;
                            border-radius: 5px;
                            background-color: var(--f5-background);
                            font-size: 12px;
                            line-height: 12px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}



.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    margin: 0px;

    >li {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 2px 10px;

        .item {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding: 0px;
            margin: 0px;

        }
    }

    .icon {
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
        display: inline-flex;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 5px;

        b {
            font-size: 14px;
            font-weight: 600;
        }

        p {
            font-size: 12px;
            margin: 0px;
        }
    }

    .actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px;
        margin: 0px;

        li {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            gap: 10px;
            border: 1px solid var(--f5-background);
            border-radius: 10px;
            padding: 10px;

        }
    }



}