:global(.react-datepicker__input-container) {
	input {
		background: transparent;
	}
}

.header {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	width: 100%;
	justify-content: space-between;
	overflow-x: visible;
	background: var(--white-color);
	padding: 10px 10px 10px 70px;

	&::-webkit-scrollbar {
		display: none;
	}

	.top {
		display: inline-flex;
		align-items: center;
		gap: 6px;

		.buttons {
			display: inline-flex;
			align-items: center;
			gap: 4px;

			svg {
				width: 20px;
				min-width: 20px;
				min-height: 20px;
			}
		}

		.expand {
			width: 40px;
			height: 40px;
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			border-radius: 4px;

			&:hover {
				background: var(--border-color);
			}

			svg {
				min-width: 25px;
				min-height: 25px;
				width: 25px;
			}
		}

		.toDay {
			background: var(--_073f31-color);
			border: 1px solid var(--border-color) !important;
			padding: 6px 12px;
			border-radius: 4px;
			border: none;
			outline: none;
			width: 77px;
			min-width: 77px;
			cursor: pointer;
			font-family: inherit;
			width: max-content;
			font-size: 17px;
		}
		.actualToday {
			background: var(--_10a37f-background);
			border: none !important;
			outline: none;
			cursor: pointer;
			font-family: inherit;
			color: var(--white-color);
			width: 77px;
			min-width: 77px;
			border: 1px solid var(--_10a37f-background);
			padding: 6px 12px;
			width: max-content;
			border-radius: 4px;
			font-size: 17px;
		}



		.buttonsNavs {
			display: inline-flex;
			align-items: center;
			gap: 5px;

			button {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: 40px;
				height: 40px;
				border-radius: 4px;
				border: 1px solid var(--border-color);
				background: var(--_10a37f-background);
				color: var(--_10a37f-background);
				cursor: pointer;
				svg {
					min-width: 26px;
					min-height: 26px;
					color: var(--_073f31-color);
					fill: transparent;
					width: 26px;
				}
				&:hover {
					background: var(--_10a37f-background);
					color: var(--_10a37f-background);
				}
			}
		}
	}

	[class^='react-datepicker-wrapper'] {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 10px 10px;
		height: 40px;
		border-radius: 4px;
		border: 1px solid var(--border-color);

		input {
			width: 110px;
			outline: none;
		}
	}

	.buttonsCalendars {
		display: inline-flex;
		align-items: center;
		gap: 4px;

		button {
			background: var(--_073f31-color);
			border: none;
			outline: none;
			cursor: pointer;
			font-family: inherit;
			height: 40px;
			border: 1px solid var(--border-color);
			padding: 6px 12px;
			width: max-content;
			border-radius: 4px;
			font-size: 17px;

			&.active {
				border-color: var(--_10a37f-background);
				color: var(--_10a37f-background);
			}

			&:hover {
				border-color: var(--_10a37f-background);
				color: var(--_10a37f-background);
			}

			svg {
				min-width: 22px;
				width: 22px;
			}
		}
	}
}

.container {
	position: fixed;
	width: 100vw;
	height: calc(100vh);
	left: 0px;
	background: var(--f5-background);
	color: var(--text-color-secondary);

	.app {
		padding-left: 70px;
		background: var(--white-color);
		position: relative;
		z-index: 5000;
		display: flex;
		align-items: flex-start;
		gap: 2px;
		height: calc(100vh - 105px);

		.menu {
			height: 100%;
			min-width: 240px;
			width: 240px;
			padding: 16px;
			background: var(--white-color);

			&.expand {
				display: none;
				min-width: 0px;
				width: 0px;
			}
		}
	}
}
.firstTh {
	border-bottom: none !important;
}
.hourZoneWrapper {
	position: relative;
	background: var(--f5-background) !important;
	border-top: none !important;
}
.weekHourContent {
	position: relative !important;
}
.hourContent {
	padding-left: 10px;
	position: relative !important;
	display: flex;
	border-top: none !important;
	flex-direction: row;
}
.eventPopup {
	position: absolute;
	top: 97px;
	border-radius: 8px;
	z-index: 700000;
}
.selectedHourContent {
	display: flex;
	width: 100%;
	margin-right: 2px;
	background: var(--_073f31-color);
	padding: 2px 5px;
	flex-direction: column;
	border-radius: 4px;
	justify-content: flex-start;
	color: var(--white-color);
	align-items: flex-start;
	font-size: 12px;
	font-weight: 500;
	height: 100%;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
	position: relative;
}
.monthTr {
	width: 100%;
}
.monthTd {
	position: relative;
}
.hourZoneInner {
	position: absolute;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	bottom: -1px;
	width: calc(100% - 10px);
	right: 10px;
	z-index: 100000;
	background: var(--f5-background);
	color: var(--_10a37f-background);
	padding: 2px 8px;
	font-size: 11px;
	font-weight: 500;
}
.dayMonthContainer {
	position: relative;
}
.dayMonthInnerContainerWrapper {
	position: absolute;
	padding-left: 5px;
	left: -1px;
	top: 0;
	padding-top: 5px;
	width: calc(100% + 1px);
	background: var(--f5-background);
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}
.dayMonthInnerContainerWrapperWeek {
	position: absolute;
	padding-left: 5px;
	left: -1px;
	top: 0;
	padding-top: 5px;
	width: calc(100% + 1px);
	background: var(--f5-background);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}
.dayMonthInnerContainer {
	display: flex;
	padding-left: 5px;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}
.dayText {
	color: var(--_10a37f-background);
	font-weight: 500;
	font-size: 12px;
}
.dayCircle {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	font-size: 26px;
	padding-right: 1px;
	font-weight: 500;
	background-color: var(--_122521-background);
	color: var(--white-color);
}
.selectedDayCircle {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	font-size: 26px;
	padding-right: 1px;
	font-weight: 500;
	background-color: var(--_10a37f-background);
	color: var(--white-color);
}
.hourContainer {
	position: absolute;
	top: -9px;
	right: 10px;
	background: var(--f5-background);
	width: calc(100% - 10px);
	padding-right: 5px;
}
.belowGMTTd {
	background: var(--f5-background);
	border-left: none !important;
	max-width: 70px !important;
}

.tableCalendar {
	border-radius: 8px;
	z-index: 5000;
	width: 100%;
	background-color: var(--f5-background);
	height: calc(100vh - 112px);
	overflow: scroll;
	table {
		width: 100%;

		th {
			text-align: left;
			min-height: 100px;
		}

		td {
			border: 1px solid var(--border-color);
			text-align: center;
			background-color: var(--white-color);

			&.active {
				background: var(--_122521-background);
				border-color: var(--_10a37f-background);
				color: var(--_10a37f-background);
				cursor: pointer;

				&:hover {
					background: var(--ed-background);
					border-color: var(--_122521-background);
					color: var(--_122521-background);
				}
			}
		}
	}
}
.calendarDay {
	min-width: 750px;
	th,
	td {
		width: 7%;
		min-height: 40px;
		height: 40px;
	}

	th:nth-child(1),
	td:nth-child(1) {
		position: relative;
		min-width: 70px;
		width: 70px;
		background: var(--f5-background);
		color: var(--_10a37f-background);
		border-color: var(--border-color);
		border-left: none !important;
		border-right: none !important;
		padding: 2px 5px;
		font-size: 11px;
		font-weight: 500;
		text-align: right;
	}

	th {
		background: var(--_073f31-color);
		color: var(--_10a37f-background);
		border-color: var(--_073f31-color);
		padding: 2px 9px;
		font-size: 15px;
		font-weight: 600;
	}

	th:nth-child(1) {
		background: var(--f5-background);
	}

	th:nth-child(2),
	td:nth-child(2) {
		width: 100%;
	}
}
.calendarWeek {
	min-width: 750px;
	th,
	td {
		width: 11vw !important;
		min-height: 40px;
		height: 40px;
	}
	tbody {
		background-color: var(--f5-background);
	}
	th:nth-child(1),
	td:nth-child(1) {
		position: relative;
		min-width: 70px;
		width: 70px !important;
		background: var(--f5-background);
		color: var(--_10a37f-background);
		border-color: var(--border-color);
		border-left: none !important;
		border-right: none !important;
		padding: 2px 5px;
		font-size: 11px;
		font-weight: 500;
		text-align: right;
	}

	th {
		background: var(--_073f31-color);
		color: var(--_10a37f-background);
		border-color: var(--_073f31-color);
		padding: 2px 9px;
		font-size: 15px;
		font-weight: 600;
	}

	th:nth-child(1) {
		background: var(--f5-background);
	}
}

.events {
	background: var(--f5-background);
	display: inline-flex;
	flex-direction: column;
	gap: 2px;
	width: 100%;
	padding: 10px;

	.item {
		display: flex;
		flex-direction: column;
		gap: 2px;
		border: 1px solid var(--border-color);
		padding: 6px;
	}

	strong {
		font-size: 10px;
		text-transform: uppercase;
		line-height: 2px;
		margin-top: 7px;
	}


}

.calendarMonth {
	min-width: 750px;
	th,
	td {
		width: calc(100% / 7);
	}

	th {
		text-align: center;
		border-bottom: none;
		color: var(--_10a37f-background);
		border-color: var(--_073f31-color);
		font-size: 11px;
		padding-top: 2px;
	}

	td {
		border-top: none;
		height: calc((100vh / 5) - 26px);

		.day {
			display: inline-flex;
			flex-direction: column;
			position: relative;
			align-items: center;
			justify-content: flex-start;
			height: 100%;
			max-height: 175px;
			width: 100%;

			b {
				font-size: 14px;
				font-weight: 800;
			}

			ul {
				margin-top: 4px;
				display: inline-flex;
				flex-direction: column;

				li {
					display: block;
					display: inline-flex;
					flex-direction: column;
					align-items: center;
					gap: 4px;

					.date {
						display: inline-flex;
						align-items: center;
						gap: 4px;

						.dot {
							min-width: 8px;
							min-height: 8px;
							border-radius: 50%;
							background: var(--_073f31-color);

							&.active {
								background: var(--_10a37f-background);
							}
						}

						span {
							font-size: 11px;
							font-weight: 500;
						}
					}

					.info {
						width: 80px;
						font-size: 10px;
						font-weight: 600;
						background: var(--white-color);
						border-radius: 6px;
						padding: 2px 4px;
						text-wrap: nowrap;
						cursor: pointer;
						&::-webkit-scrollbar {
							display: none;
						}
						&:hover {
							background: var(--f5-background);
						}

						span {
							font-size: 10px;
							font-weight: 400;
						}

						b {
							width: 100px;
							font-size: 14px;
							font-weight: 600;
						}
					}
				}
			}
		}
	}
	thead tr {
		border: 1px solid var(--border-color);
	}
	thead tr th {
		background: var(--white-color);
		text-align: center;
		border-right: 1px solid var(--border-color);
	}
}
.notScrollableTableCalendar {
	overflow: hidden !important;
}
.calendarDayHeader {
	min-height: 100px !important;
}

.monthDayLi {
	padding: 3px;
	border-radius: 2px;
	display: flex;
	width: 100%;
	max-width: 150px;
	position: relative;
	cursor: pointer;
	user-select: none;
	justify-content: flex-start;
	align-items: flex-start;
	&:hover {
		background: var(--border-color);
	}
	div {
		span {
			max-width: 130px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
.monthDayContainer {
	margin: 2px;
	border-radius: 50%;
	font-size: 10px;
	width: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	font-weight: 400 !important;
	background-color: var(--_122521-background);
	color: var(--white-color);
}
.selectedMonthDayContainer {
	margin: 2px;
	border-radius: 50%;
	font-size: 10px;
	width: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	font-weight: 400 !important;
	background-color: var(--_10a37f-background);
	color: var(--white-color);
}
.scheduleWrapper {
	min-width: 750px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}

.scheduleEventsContainer {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
}
.calendarContainer {
	width: 100%;
	padding: 20px;
	background-color: var(--f5-background);
}




.dayHeader {
	flex: 1;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	background-color: var(--_073f31-color);
	color: var(--_10a37f-background);
	border-radius: 5px;
	margin-right: 2px;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}




.dayCell {
	flex: 1;
	min-height: 100px;
	padding: 10px;
	user-select: none;
	margin-right: 2px;
	border-radius: 4px;
	position: relative;
	background-color: var(--_10a37f-background);
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}



.eventText {
	background-color: var(--_122521-background);
	padding: 5px;
	border-radius: 5px;
	color: var(--_10a37f-background);
	font-size: 12px;
	text-align: center;
}

.calendarMonthWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}


.timeline {
	display: flex;
	width: 100%;
	padding: 10px 20px 10px 70px;
	height: 100%;
	flex-direction: column;
	min-width: 990px;
	background-color: var(--f5-background);
}


.dayContainer {
	display: flex;
	height: 35px;
	align-items: center;
	justify-content: flex-start;

	border: 1px solid var(--border-color);
	border-radius: 4px;
	margin-bottom: 15px;
	position: relative;
}


.navArrow {
	background-color: var(--_122521-background);
	color: var(--white-color);
	border: none;
	height: 100%;
	font-size: 11px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	border-radius: 3px 0px 0px 3px;
	cursor: pointer;
	transition:
		background 0.2s ease-in-out,
		transform 0.1s ease-in-out;
	&:hover {
		background: var(--ed-background);
		transform: scale(1.05);
	}

	&:active {
		background: var(--_122521-background);
		transform: scale(0.95);
	}
}

.navArrowRight {
	background-color: var(--_122521-background);
	color: var(--white-color);
	border: none;
	height: 100%;
	font-size: 11px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	border-radius: 0px 3px 3px 0px;
	cursor: pointer;
	transition:
		background 0.2s ease-in-out,
		transform 0.1s ease-in-out;
	&:hover {
		background: var(--ed-background);
		transform: scale(1.05);
	}

	&:active {
		background: var(--_122521-background);
		transform: scale(0.95);
	}
}

.timelineDays {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.timelineDay {
	text-align: start;
	padding: 0px 5px;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	color: var(--_122521-background);
}

.eventsContainer {
	display: flex;
	width: 100%;
	position: relative;
	background-color: var(--white-color);
	height: 100%;
}


.eventsForDay {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	position: relative;
	overflow-x: show;
	gap: 3px;
	overflow-y: auto;
}


.timelineEventCard {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 3px;
	height: 50px;
	min-height: 50px;
	padding: 0px 5px;
	align-items: center;
	cursor: pointer;
	user-select: none;
	align-items: center;
	justify-content: flex-start;
	border-radius: 3px;
	&:hover {
		background-color: var(--_073f31-color);
		.eventDesc {
			color: var(--white-color);
		}
	}
}
.eventColorDiv {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 37px;
	min-width: 8px;
	border-radius: 15px;
	width: 8px;
}
.eventRightContainer {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: flex-start;
	gap: 3px;
	flex-direction: row;
}
.eventUserImage {
	display: flex;
	width: 27px;
	max-width: 27px;
	min-width: 27px;
	height: 27px;
	max-height: 27px;
	min-height: 27px;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: bold;
	border-radius: 50px;
	color: var(--white-color);
	background-color: var(--_10a37f-background);
}
.eventData {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	height: 100%;
	flex-direction: column;
}
.eventTitle {
	color: var(--_374151-color);
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
	font-weight: 600;
	text-overflow: ellipsis;
	line-height: 1.2;
}
.eventDesc {
	color: var(--text-color-secondary);
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1;
}

.eventTitle,
.eventDesc {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: max-width 0.3s ease-in-out;
}

.timelineEventCard:hover .eventTitle,
.timelineEventCard:hover .eventDesc {
	max-width: none !important; 
}

.showMoreButton {
	color: var(--_073f31-color);
	cursor: pointer;
	font-size: 12px;
	margin-left: -2px;
	font-weight: 600;
	text-align: center;
	width: 100%;
	&:hover {
		color: var(--_10a37f-background);
	}
}

.hoursWrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	flex-direction: column;
	border-radius: 5px;
	border: 1px solid var(--_073f31-color);
	background-color: var(--white-color);
}

.hourItem {
	font-size: 11px;
	position: relative;
	display: flex;
	margin-left: -22px;
	align-items: flex-start;
	color: var(--_10a37f-background);
	justify-content: flex-start;
	font-weight: 500;
	width: 100%;
	border-bottom: 1px solid var(--border-color);
}
.hourText {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	position: absolute;
	height: 100%;
	left: -50px;
	top: -8px;
}

.eventListContainer {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 2px;
}
