.container {
	display: inline-flex;
	flex-direction: column;
	gap: 6px;
	width: 100%;
	.header {
		background: var(--white-color);
		border: 1px solid var(--border-color);
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 8px;
		.title {
			display: inline-flex;
			flex-direction: column;
			gap: 2px;
			p {
				font-size: 18px;
				font-weight: 600;
			}
			a {
				font-size: 14px;
				text-decoration: underline;
				color: var(--text-color-secondary);
				line-height: 7px;
				margin-bottom: 8px;
			}
		}
		.share {
			display: inline-flex;
			align-items: center;
			background: var(--_10a37f-background);
			color: var(--_073f31-color);
			font-size: 16px;
			font-weight: 600;
			padding: 4px 10px;
			border-radius: 6px;
			gap: 8px;
			svg {
				color: var(--_073f31-color);
				width: 14px;
			}
		}
	}
	.subHeader {
		display: inline-flex;
		gap: 40px;
		align-items: flex-start;
		padding: 4px 10px 8px;
		.left {
			min-width: 310px;
			width: 310px;
			display: inline-flex;
			gap: 8px;
			> div {
				min-width: 40px;
				min-height: 40px;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: var(--_10a37f-background);
				color: var(--_073f31-color);
				align-items: center;
				justify-content: center;
				display: inline-flex;
				font-size: 23px;
				font-weight: 500;
				line-height: 0px;
			}
			p {
				font-size: 26px;
				font-weight: 600;
				color: var(--_374151-color);
			}
		}
		.right {
			width: 600px;
			display: inline-flex;
			flex-direction: column;
			align-items: flex-start;
			b {
				font-size: 22px;
				font-weight: 500;
			}
			ul {
				display: inline-flex;
				flex-direction: column;
				gap: 2px;
				li {
					display: inline-flex;
					align-items: center;
					gap: 4px;
					svg {
						width: 20px;
						height: 20px;
						min-width: 20px;
						min-height: 20px;
						color: var(--_10a37f-background);
					}
				}
			}
		}
	}
	.calendar {
		display: inline-flex;
		align-items: flex-start;
		gap: 10px;
		padding: 10px;
		border-top: 1px solid var(--border-color);
		background: var(--white-color);
		.left {
			min-width: 280px;
			width: 280px;
			display: inline-flex;
			flex-direction: column;
			gap: 6px;
			.title {
				font-size: 26px;
			}
			.date {
				width: 100%;
				display: inline-flex;
				align-items: center;
				gap: 2px;
				justify-content: space-between;
				> div {
					display: inline-flex;
					align-items: center;
					gap: 4px;
					button {
						min-width: 20px;
						min-height: 20px;
						border-radius: 4px;
						border: 1px solid var(--border-color);
						display: inline-flex;
						align-items: center;
						justify-content: center;
						svg {
							width: 12px;
						}
					}
				}
			}
		}
	}
}
.miniCalendar {
	width: 100%;
	background: transparent;
	border-radius: 10px;
	padding: 4px;
	padding-bottom: 6px;
	table {
		width: 100%;
		td,
		th {
			width: calc(100vh / 7);
			text-align: center;
			font-size: 12px;
			height: 40px;
		}
	}
}
.liText {
	font-size: 12px;
}

.tableCalendar {
	border-radius: 8px;
	z-index: 5000;
	width: 100%;
	background-color: var(--f5-background);
	height: calc(100vh - 112px);
	overflow: scroll;
	table {
		width: 100%;

		th {
			text-align: left;
			min-height: 100px;
		}

		td {
			border: 1px solid var(--border-color);
			text-align: center;
			background-color: var(--white-color);

			&.active {
				background: var(--_122521-background);
				border-color: var(--_10a37f-background);
				color: var(--_10a37f-background);
				cursor: pointer;

				&:hover {
					background: var(--ed-background);
					border-color: var(--_122521-background);
					color: var(--_122521-background);
				}
			}
		}

		&.calendarDay {
			min-width: 750px;
			th,
			td {
				width: 7%;
				min-height: 40px;
				height: 40px;
			}

			th:nth-child(1),
			td:nth-child(1) {
				position: relative;
				min-width: 70px;
				width: 70px;
				background: var(--f5-background);
				color: var(--_10a37f-background);
				border-color: var(--border-color);
				border-left: none !important;
				border-right: none !important;
				padding: 2px 5px;
				font-size: 11px;
				font-weight: 500;
				text-align: right;
			}

			th {
				background: var(--_073f31-color);
				color: var(--_10a37f-background);
				border-color: var(--_073f31-color);
				padding: 2px 9px;
				font-size: 15px;
				font-weight: 600;
			}

			th:nth-child(1) {
				background: var(--f5-background);
			}

			th:nth-child(2),
			td:nth-child(2) {
				width: 100%;
			}
		}

		&.calendarWeek {
			min-width: 750px;
			th,
			td {
				width: 11vw !important;
				min-height: 40px;
				height: 40px;
			}
			tbody {
				background-color: var(--f5-background);
			}
			th:nth-child(1),
			td:nth-child(1) {
				position: relative;
				min-width: 70px;
				width: 70px !important;
				background: var(--f5-background);
				color: var(--_10a37f-background);
				border-color: var(--border-color);
				border-left: none !important;
				border-right: none !important;
				padding: 2px 5px;
				font-size: 11px;
				font-weight: 500;
				text-align: right;
			}

			th {
				background: var(--_073f31-color);
				color: var(--_10a37f-background);
				border-color: var(--_073f31-color);
				padding: 2px 9px;
				font-size: 15px;
				font-weight: 600;
			}

			th:nth-child(1) {
				background: var(--f5-background);
			}
		}

		&.calendarMonth {
			min-width: 750px;
			th,
			td {
				width: calc(100% / 7);
			}

			th {
				text-align: center;
				border-bottom: none;
				color: var(--_10a37f-background);
				border-color: var(--_073f31-color);
				font-size: 11px;
				padding-top: 2px;
			}

			td {
				border-top: none;
				height: calc((100vh / 5) - 26px);

				.day {
					display: inline-flex;
					flex-direction: column;
					position: relative;
					align-items: center;
					justify-content: flex-start;
					height: 100%;
					max-height: 175px;
					width: 100%;

					b {
						font-size: 14px;
						font-weight: 800;
					}

					ul {
						margin-top: 4px;
						display: inline-flex;
						flex-direction: column;

						li {
							display: block;
							display: inline-flex;
							flex-direction: column;
							align-items: center;
							gap: 4px;

							.date {
								display: inline-flex;
								align-items: center;
								gap: 4px;

								.dot {
									min-width: 8px;
									min-height: 8px;
									border-radius: 50%;
									background: var(--_073f31-color);

									&.active {
										background: var(--_10a37f-background);
									}
								}

								span {
									font-size: 11px;
									font-weight: 500;
								}
							}

							.info {
								width: 80px;
								font-size: 10px;
								font-weight: 600;
								background: var(--white-color);
								border-radius: 6px;
								padding: 2px 4px;
								text-wrap: nowrap;
								cursor: pointer;
								&::-webkit-scrollbar {
									display: none;
								}
								&:hover {
									background: var(--f5-background);
								}

								span {
									font-size: 10px;
									font-weight: 400;
								}

								b {
									width: 100px;
									font-size: 14px;
									font-weight: 600;
								}
							}
						}
					}
				}
			}
		}

		&.schedule {
			min-width: 750px;
			th {
				border-color: var(--_073f31-color);
				background: var(--_073f31-color);
				color: var(--_10a37f-background);
				font-size: 14px;
				font-weight: 500;
				padding: 4px 10px;
				font-size: 16px;
				font-weight: 600;
			}

			td:nth-child(1),
			td:nth-child(2) {
				padding: 10px;
				background: var(--white-color);
				text-align: center;
				font-size: 12px;
				font-weight: 600;
			}

			tr:last-child {
				td {
					border-bottom: none;
				}

				td:nth-child(1),
				td:nth-child(2) {
					background: var(--f5-background);
				}
			}

			.events {
				background: var(--f5-background);
				display: inline-flex;
				flex-direction: column;
				gap: 2px;
				width: 100%;
				padding: 10px;

				.item {
					display: flex;
					flex-direction: column;
					gap: 2px;
					border: 1px solid var(--border-color);
					padding: 6px;
				}

				strong {
					font-size: 10px;
					text-transform: uppercase;
					line-height: 2px;
					margin-top: 7px;
				}

			}
		}

		&.timeLine {
			min-width: 750px;
			thead {
				th:nth-child(1) {
					font-size: 14px;
					font-weight: 500;
					padding: 4px 10px;
					font-size: 23px;
					font-weight: 600;
				}

				th {
					background: var(--_073f31-color);
					color: var(--_10a37f-background);
					border-color: var(--_073f31-color);
					font-size: 12px;
					font-weight: 600;
					padding: 6px;
				}

				tr:nth-child(1) {
					th {
						padding: 2px 9px;
						font-size: 15px;
						font-weight: 600;
						background: var(--white-color);
						border-color: var(--border-color);
					}
				}
			}

			td:nth-child(1) {
				min-width: 230px;
				width: 230px;
				padding: 10px;
				font-size: 14px;
				font-weight: 600;
				background: var(--_073f31-color);
				color: var(--_10a37f-background);
				border-color: var(--_073f31-color);
				text-align: left;
			}
		}
	}
}

.preview {
	display: inline-flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	.left {
		display: inline-flex;
		flex-direction: column;
		gap: 14px;
		min-width: 240px;
		width: 240px;
		padding: 20px 10px;
		overflow-y: scroll;
		background: var(--white-color);
		border: 1px solid var(--border-color);
		overflow-x: hidden;
		&::-webkit-scrollbar {
			display: none;
		}
		.title {
			display: inline-flex;
			flex-direction: column;
			gap: 2px;
			align-items: flex-end;
			input {
				width: 100%;
				background: var(--f5-background);
				border: 1px solid var(--border-color);
				padding: 6px 9px;
				border-radius: 4px;
				font-size: 18px;
				font-family: inherit;
			}
			span {
				font-size: 14px;
				color: var(--text-color-secondary);
			}
		}
		.options {
			b {
				font-size: 16px;
				font-weight: 700;
			}
			ul {
				flex-direction: column;
				display: inline-flex;
				align-items: flex-start;
				gap: 8px;
				width: 100%;
				margin: 10px 0px;
				li {
					display: inline-flex;
					align-items: center;
					gap: 12px;
					font-size: 14px;
					font-weight: 500;
					input {
						width: 20px;
						height: 20px;
						border-radius: 4px;
						border: 1px solid var(--border-color);
					}
				}
			}
		}
		.color {
			b {
			}
			ul {
				width: 100%;
				margin: 10px 0px;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
				li {
					width: 30px;
					height: 30px;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					.color {
						min-width: 20px;
						min-height: 20px;
						border-radius: 50%;
						background: var(--border-color);
						position: relative;
						span {
							display: none;
						}
					}
				}
			}
		}
		.border {
			display: inline-flex;
			align-items: center;
			gap: 6px;
			input {
				width: 20px;
				height: 20px;
				border-radius: 4px;
				border: 1px solid var(--border-color);
			}
		}
		.form {
			ul {
				display: inline-flex;
				flex-direction: column;
				gap: 6px;
				width: 100%;
				li {
					display: flex;
					flex-direction: column;
					gap: 2px;
					position: relative;
					border: 1px solid var(--border-color);
					background: var(--white-color);
					padding: 2px 6px;

					label {
						font-size: 12px;
					}
					span {
						font-size: 15px;
					}
					svg {
						position: absolute;
						top: 10px;
						right: 0px;
						min-width: 20px;
						min-height: 20px;
						width: 20px;
						height: 20px;
					}
					ul {
						display: none;
						width: 100%;
						position: absolute;
						top: 0px;
						left: 0px;
						background: var(--white-color);
						li {
						}
					}
				}
			}
		}
		.shows {
			b {
				font-size: 16px;
				font-weight: 700;
			}
		}
	}
	.right {
		padding: 20px;
		display: inline-flex;
		width: 100%;
		flex-direction: column;
		gap: 10px;
		overflow-y: scroll;
		.input {
			display: inline-flex;
			flex-direction: column;
			gap: 2px;
			position: relative;
			background: var(--white-color);
			padding: 7px;
			border: 1px solid var(--border-color);
			border-radius: 4px;
			label {
				font-size: 12px;
			}
			input {
				font-size: 14px;
			}
			svg {
				position: absolute;
				min-width: 14px;
				min-height: 14px;
				right: 0px;
				top: 0px;
			}
		}
		small {
		}
		.preview {
			display: inline-flex;
			flex-direction: column;
			gap: 2px;
			.header {
				display: flex;
				flex-direction: column;
				.title {
					display: inline-flex;
					align-items: center;
					gap: 4px;
					justify-content: space-between;
					padding: 4px 10px;
					border-bottom: 1px solid var(--border-color);
					font-size: 18px;
					font-weight: 600;
				}
				> div {
					display: inline-flex;
					align-items: center;
					gap: 4px;
					justify-content: space-between;
					padding: 4px 10px;
					> div {
						display: inline-flex;
						align-items: center;
						gap: 4px;
					}
					.buttonsNavs {
						display: inline-flex;
						align-items: center;
						gap: 4px;
						button {
							width: 25px;
							height: 25px;
							display: inline-flex;
							align-items: center;
							justify-content: center;
							border: 1px solid var(--border-color);
							svg {
								width: 16px;
								color: var(--_10a37f-background);
							}
						}
					}
					.buttons {
						display: inline-flex;
						gap: 4px;
						align-items: center;
						button {
							padding: 3px 10px;
							border-radius: 3px;
							border: none;
							outline: none;
							font-size: 12px;
							font-weight: 600;
							font-family: inherit;
							cursor: pointer;
							background: var(--_073f31-color);
							color: var(--_10a37f-background);
							&:hover {
								background: var(--_073f31-color);
							}
						}
					}
				}
			}
			.calendar {
				background: var(--white-color);
			}
			.footer {
				display: inline-flex;
				align-items: center;
				padding: 9px;
				gap: 12px;
				p {
					font-size: 12px;
					font-weight: 500;
				}
				div {
					display: flex;
					align-items: center;
				}
			}
		}
	}
}

[class^='calendarMonth'] {
	td {
		height: calc((100vh / 5) - 70px);
	}
}

.date {
	display: flex;
	align-items: center;
	margin-right: 5px;
	justify-content: space-between;
	b {
		font-size: 12px;
		font-weight: 600;
	}
	div {
		display: flex;
		align-items: center;
		gap: 5px;

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			transition:
				background 0.2s ease-in-out,
				transform 0.1s ease-in-out;
			cursor: pointer;
			user-select: none;

			width: 25px;
			height: 25px;
			background: var(--_073f31-color);
			color: var(--_10a37f-background);
			border-radius: 4px;
			&:hover {
				background: var(--_073f31-color);
				transform: scale(1.05);
			}

			&:active {
				background: var(--_10a37f-background);
				transform: scale(0.95);
			}
			svg {
				width: 11px;
				height: 11px;
			}
		}
	}
}

.toDay {
	border: 1px solid var(--_073f31-color);
	border-radius: 4px;
	width: 40px;
	min-width: 40px;
	height: 25px;
	min-height: 25px;
	cursor: pointer;
	font-family: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	margin-right: 5px;
}
.actualToday {
	background: var(--_10a37f-background);
	border: none;
	cursor: pointer;
	font-family: inherit;
	color: var(--white-color);
	width: 40px;
	min-width: 40px;
	height: 25px;
	min-height: 25px;
	border: 1px solid var(--_10a37f-background);
	width: max-content;
	border-radius: 4px;
	font-size: 14px;
}
