.FiltersLabelOptionsTemplate {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;
  align-self: stretch;
  box-sizing: border-box;
  p {
    margin: 0;
    color: #292a2b;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  input {
    background-color: var(--f5-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    border-radius: 4px;
    padding: 0px 18px;
    font-family: "Inter", sans-serif;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  .transparentBG {
    background-color: transparent;
    border: 1px solid var(--db-background);
  }
  .carouselContainer {
    position: relative;
    width: 100%;
  }
  .carousel {
    position: absolute;
    top: 116%;
    left: 0;
    z-index: 1;
  }


  .chevronIcon {
    color: var(--_67-color);
    padding: 0px 6px;
  }


  .inputWrapper{
    display: flex;
    align-items: center;
    border: 1px solid #D9D9E3;
    border-radius: 8px;
    padding: 0 10px;
    gap: 5px;
    input{
      background-color: transparent;
      padding: 0px;

    }
  }

  .variablesContainer{
    background-color: var(--white-color);
    border: 1px solid var(--ed-background);
    border-radius: 8px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 999;
    max-height: 200px;
    overflow-y: scroll;

  }
  .variablesContent{
    padding: 5px 8px;
    display: flex;
    gap: 5px;
    /* border: 1px solid var(--ed-background); */
    align-items: center;
    p{
      color: var(--_292d32-color);
      margin: 0;
      span{
        margin: 0;
        background-color: #656b74;
        border-radius: 8px;
        color: var(--white-color);
        padding: 3px 10px;
        font-size: 9px;
      }
    }
    >div >span{
      color: #000000;
      font-weight: 300;
    }

&:first-child {
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}


&:last-child {
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}
  }

  .btnNewVariable{
    background-color: var(--f5-background);
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px;
    text-align: start;
    box-sizing: border-box;
    color: #666666;
    cursor: pointer;
  }
}

.inputVariablesContainer{
  position: relative;
}