<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <div class="StartPremiumTrialEmail"
    style="width: 656px;  padding: 32px; background: #F5F7FA; flex-direction: column; justify-content: center; align-items: flex-start;">
    <div class="ContainerElevated"
      style="align-self: stretch;  padding: 40px; background: white; border-radius: 3px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 40px; ">
      <div class="LogoBrand"
        style="width: 124px; padding-right: 0.79px; justify-content: center; align-items: flex-start; gap: 7px; display: inline-flex">
        <img class="Company" style="width: 78.21px; " src="https://business.ay-cloud.com/service/v1/iam/user/{{id}}" />
      </div>
      <div class="Header"
        style="margin-top: 20px;align-self: stretch; color: #222D38; font-size: 24px; font-family: system-ui; font-weight: 700; line-height: 32px; word-wrap: break-word">
        Hay ({{length}}) notificaciones
        
        {{text0}}</div>
      <div class="MessageCta"
        style="margin-top: 12px; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; ">
        <div class="HiCustomerName"
          style="align-self: stretch; color: #46586B; font-size: 16px; font-family: system-ui; font-weight: 400; line-height: 24px; word-wrap: break-word">
          {{text1}}</div>
        <div class="Text"
          style="align-self: stretch; color: #46586B; font-size: 16px; font-family: system-ui; font-weight: 400; line-height: 24px; word-wrap: break-word">
          {{text2}}</div>
        <div class="PriceTable"
          style="margin-top: 20px; align-self: stretch; height: 220px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px;">
          <div class="TableHead"
            style="align-self: stretch; height: 37px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
            <div class="Content"
              style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 20px; display: inline-flex">
              <div class="FeatureTitle"
                style="width: 148px; color: #46586B; font-size: 16px; font-family: system-ui; font-weight: 400; line-height: 24px; word-wrap: break-word">
                <div class="Value"
                  style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div class="Unlimited"
                    style="color: #46586B; font-size: 16px; font-family: system-ui; font-weight: 700; line-height: 24px; word-wrap: break-word">
                    {{title1}}</div>
                </div>
              </div>
              <div class="Labels"
                style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: baseline; gap: 32px; display: flex">
                
                <div class="Value"
                  style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div class="Limited"
                    style="color: #46586B; font-size: 16px; font-family: system-ui; font-weight: 700; line-height: 24px; word-wrap: break-word">
                    {{title2}}</div>
                </div>
              </div>
            </div>
            <div class="Sep" style="align-self: stretch; height: 1px; background: #F5F7FA"></div>
          </div>
          <div class="Feature1"
            style="align-self: stretch; height: 57px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex">
            <div class="Content"
              style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 20px; display: inline-flex">
              <div class="FeatureTitle"
                style="width: 148px; color: #46586B; font-size: 16px; font-family: system-ui; font-weight: 400; line-height: 24px; word-wrap: break-word">
                Feature 1</div>
              <div class="Labels"
                style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: baseline; gap: 32px; display: flex">
                <div class="Value"
                  style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div class="Unlimited"
                    style="color: #46586B; font-size: 16px; font-family: system-ui; font-weight: 400; line-height: 24px; word-wrap: break-word">
                    Unlimited</div>
                </div>
                <div class="Value"
                  style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div class="Limited"
                    style="color: #46586B; font-size: 16px; font-family: system-ui; font-weight: 400; line-height: 24px; word-wrap: break-word">
                    Limited</div>
                </div>
              </div>
            </div>
            <div class="Sep" style="align-self: stretch; height: 1px; background: #F5F7FA"></div>
          </div>
          <div class="Feature2"
            style="align-self: stretch; height: 57px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex">
            <div class="Content"
              style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 20px; display: inline-flex">
              <div class="FeatureTitle"
                style="width: 148px; color: #46586B; font-size: 16px; font-family: system-ui; font-weight: 400; line-height: 24px; word-wrap: break-word">
                Feature 2</div>
              <div class="Labels"
                style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: baseline; gap: 32px; display: flex">
                <div class="Value"
                  style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div class="IconSlot"
                    style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                    <div class="Checkmark"
                      style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                      <div class="Icon" style="width: 17px; height: 11.70px; background: #87C4B6"></div>
                    </div>
                  </div>
                </div>
                <div class="Value"
                  style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div class="Subtract" style="width: 24px; height: 24px; position: relative">
                    <div class="Icon"
                      style="width: 13.50px; height: 1.50px; left: 5.25px; top: 11.25px; position: absolute; background: #46586B">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Sep" style="align-self: stretch; height: 1px; background: #F5F7FA"></div>
          </div>
          <div class="Feature3"
            style="align-self: stretch; height: 57px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex">
            <div class="Content"
              style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 20px; display: inline-flex">
              <div class="FeatureTitle"
                style="width: 148px; color: #46586B; font-size: 16px; font-family: system-ui; font-weight: 400; line-height: 24px; word-wrap: break-word">
                Feature 3</div>
              <div class="Labels"
                style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: baseline; gap: 32px; display: flex">
                <div class="Value"
                  style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div class="IconSlot"
                    style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                    <div class="Checkmark"
                      style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                      <div class="Icon" style="width: 17px; height: 11.70px; background: #87C4B6"></div>
                    </div>
                  </div>
                </div>
                <div class="Value"
                  style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                  <div class="Subtract" style="width: 24px; height: 24px; position: relative">
                    <div class="Icon"
                      style="width: 13.50px; height: 1.50px; left: 5.25px; top: 11.25px; position: absolute; background: #46586B">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Sep" style="align-self: stretch; height: 1px; background: #F5F7FA"></div>
          </div>
        </div>
        <div class="ContainerCta"
          style="align-self: stretch; height: 78px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px;">
          <div class="ContainerPrimarySecondary"
            style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
            <div class="Button"
              style="padding-left: 32px; padding-right: 32px; padding-top: 12px; padding-bottom: 12px; background: {{backgroundColor}}; box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.09); border-radius: 3px; justify-content: center; align-items: flex-start; gap: 16px; display: flex">
              <div class="ButtonText"
                style="text-align: center; color: white; font-size: 16px; font-family: system-ui; font-weight: 700; line-height: 24px; word-wrap: break-word">
                {{text4}}</div>
            </div>
          </div>
          <div class="SecondaryLinkAndDescription"
            style="margin-top: 12px;align-self: stretch; height: 18px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div class="CancelAnytimeFor"
              style="align-self: stretch; color: #46586B; font-size: 12px; font-family: system-ui; font-weight: 400; line-height: 18px; word-wrap: break-word">
              {{text5}}</div>
          </div>
        </div>
      </div>
    </div>
    {{footerHtml}}
  </div>
</body>

</html>