<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmación de Email</title>

</head>

<body>
  <div class="Confirmation"
    style="width: 656px;  padding: 32px; background: #F5F7FA; flex-direction: column; justify-content: center; align-items: flex-start; display: grid">
    <div class="ContainerElevated"
      style="align-self: stretch;  padding: 40px; background: white; border-radius: 3px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 40px; display: grid">
      <div class="Header"
        style="align-self: stretch; color: #222D38; font-size: 24px; font-family: Inter; font-weight: 700; line-height: 32px; word-wrap: break-word">
        Hay un error</div>
      <div class="MessageCta"
        style="align-self: stretch;  flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: grid">
        <div class="HiCustomerName"
          style="align-self: stretch; color: #46586B; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">
          Revisa el status el servidor esta caido</div>
        <div class="Text"
          style="align-self: stretch; color: #46586B; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">
          El servidor esta creado  
        </div>
      </div>
    </div>
  </div>
</body>

</html>