<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <style>

  </style>
</head>

<body>
  <div class="OrderConfirmationEmailAdmin"
    style="width: 656px; padding: 32px; background: #F5F7FA; flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex">
    <div class="ContainerElevated"
      style="align-self: stretch; padding: 40px; background: white; border-radius: 3px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 40px;">
      <b>
        Idioma:
      </b>
      <span>
        {{flag}}
      </span>
      <br />
      <b>
        Primer nombre:
      </b>
      <span>
        {{firstName}}
      </span>
      <br />
      <b>
        Segundo nombre:
      </b>
      <span>
        {{secondName}}
      </span>
      <br />
      <b>
        Email:
      </b>
      <span>
        {{email}}
      </span>
      <br />
      <b>
        Teléfono:
      </b>
      <span>
        {{phone}}
      </span>
      <br />
      <b>
        Que estás construyendo:
      </b>
      <span>
        {{why}}
      </span>
      <br />
      <b>
        Cuál es tu workspace:
      </b>
      <span>
        {{team}}
      </span>
      <br />
      <b>
        Eres estudiante:
      </b>
      <span>
        {{student}}
      </span>
      <br />
      <b>
        Eres freelancer o una agencia:
      </b>
      <span>
        {{work}}
      </span>
      <br />
      <b>
        Cuántas personas tiene tu equipo:
      </b>
      <span>
        {{size}}
      </span>
      <br />
      <b>
        Qué quieres construir:
      </b>
      <span>
        {{building}}
      </span>
      <br />
      <b>
        Tienes pensado contratar:
      </b>
      <span>
        {{hiring}}
      </span>
      <br />
    </div>
  </div>
</body>

</html>