<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <style>

  </style>
</head>

<body>
  <div class="OrderConfirmationEmailAdmin"
    style="width: 656px; padding: 32px; background: #F5F7FA; flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex">
    <div class="ContainerElevated"
      style="align-self: stretch; padding: 40px; background: white; border-radius: 3px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 40px;">
      <b>
        PIN:
      </b>
      <span>
        {{pin}}
      </span>
      <br />
      <b>
        Se va a enviar un email de que se ha detectado un acceso desde una forma.
      </b>
      <span>
        {{name}}
      </span>
      <br />
    </div>
  </div>
</body>

</html>