.AdvertencyContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px;
  padding-left: 20px;
  border-left: 2px solid var(--_10a37f-background);
  background-color: var(--_16c09816-background);
  color: #4f5660;
  font-size: 12px;
  margin-top: 10px;
}
.AdvertencyContainerError {
  color: #dc3545;
  border-left: 2px solid #dc3545;
}
.AdvertencyIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--_10a37f-background);
  min-width: 15px;
  max-width: 15px;
  height: 15px;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;

  .icon {
    margin: 0 auto;
  }
}
.AdvertencyContainerError.AdvertencyContainer{
  background-color: #c0161616;
}
.AdvertencyContainerError {

  .AdvertencyIconContainer {
    background-color: #dc3545;
  }
}

.addConnection {
  text-decoration: none;
}
