.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--_00000033-background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  transition: opacity 300ms ease-in-out;
}

.modalContent {
  background-color: var(--f5-background);
  border-radius: 8px;
  /* box-shadow: 0 2px 10px var(--_00000020-shadow); */
  width: 742px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: scale(1);
  padding-bottom: 18px;
  animation: scaleUp_sQmPK 300ms ease-out forwards;
  border-radius: 8px;
  overflow: hidden;
}

.scaleDown {
  animation: scaleDown 300ms ease-in forwards;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

.fadeOut {
  opacity: 0;
}

.upgradePlanHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 64px;
  border-bottom: 1px solid var(--db-background);
}

.headerLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--_292d32-color);
  font-size: 20px;
  font-weight: 600;
  gap: 10px;
}

.closeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 31px;
  cursor: pointer;
  border-radius: 4px;
  background: var(--db-background);
  user-select: none;
}

.checkCircle {
  align-self: center;
  width: 87px;
  height: 87px;
  border-radius: 50%;
  background-color: #eeeeef;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}

.upgradePlanText {
  color: var(--_4F5660-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.upgradePlanContent {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 85%;
  margin: 0 auto;
  flex-direction: column;
  background-color: var(--white-color);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid var(--db-background);
}



.acceptButton {
  height: 44px;
  width: 109px;
  border-radius: 8px;
  background: #233f39;
  display: flex;
  align-items: center;
  color: var(--white-color);
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #233f39;
  outline: none;
  cursor: pointer;
  user-select: none;
}