.paymentSingleOptionContainer {
  display: flex;
  gap: 22px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.paymentSingleOptionContainerDisabled{
  opacity: 0.6;
}

.paymentSingleOptionIcons {
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 28px;
  background: #fdfdfc;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
}

.paymentSingleOptionText {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  div {
    color: var(--black);
    font-size: 15px;
    font-weight: 600;
  }
  span {
    color: #9c9c9c;
    font-size: 14px;
    font-weight: 400;
  }
}



.radioInputDisabled{
  cursor: initial !important;
}
