.labelLogoSelector {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #717171;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #717171;
  gap: 5px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  margin-bottom: 0.5rem;
}

.radioInputLogoSelector {
  height: 20px !important;
  min-width: 20px;
  max-width: 20px;
  border-radius: 999px !important;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p,
  span {
    margin: 5px 0;
    color:var(--black) !important;
    margin: 0;
    font-weight: 500;
    font-size: 15px;
  }
}

.button,
.facturacionButtonEdit {
  text-decoration: underline;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  font-size: 14px;
  font-weight: 600;
  color: var(--_292d32-color);
  opacity: 0;
}

label:hover,
.label:hover {

  .button,
  .editButton {
    opacity: 1;
  }
}

.editButton {
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  font-weight: 600;
  color: var(--_292d32-color);
  opacity: 0;
}

.logoCorporativo {
  display: flex;
  align-items: center;
  margin-top: 15px;
  flex-wrap: wrap;
  gap: 10px;

  .container {
    display: flex;
    align-items: center;
    position: relative;

    img {
      width: 80px;
      height: 80px;
    }

    .delete {
      position: absolute;
      height: 20px;
      width: 20px;
      top: -7px;
      right: -7px;
      background-color: #dc3545;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      font-size: 20px;
      color: var(--white-color);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

@media (width <=658px) {
  .form {

    .button,
    .facturacionButtonEdit,
    .editButton {
      opacity: 1;
    }
  }
}