
.title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--_10a37f-background);
    margin-bottom: 15px;
    padding-bottom: 8px;
}

.containerForm {
    background: var(--white-color);
    padding: 15px;
    border-radius: 8px;
}
